@model CCoinVM
@inject CBlocksHelperVM BlocksHelper

@{
    ViewData["Title"] = Model.SeoInfo.title == "" ? "Coin Page" : Model.SeoInfo.title;
    ViewData["Description"] = Model.SeoInfo.text == "" ? "" : Model.SeoInfo.text;
    ViewData["PageClass"] = "dc-coin-page";
    Model.coin.data.name = Model.coin.data.name.ToUpper();
}

<div class="dc-pairs-page-content">
    <div class="container">
        <div class="dcg-section dcg-section_mini dcg-section_border-bottom dcg-section_light-left dcg-section_padding-heading">
            <div class="row">
                <div class="col">
                    @await Html.PartialAsync("_Breadcrumbs", (controller: "Coins", title: "Coins", pageTitle: Model.coin.data.name_full))
                    @await Html.PartialAsync("_MainTitle", Model.PageHead)
                    <div class="dcg-main-botton-link-block">
                        <div class="dcg-main-botton-link">
                            <span class="dcg-caption dcg-link-text">Coin Website</span>
                            <img src="@BlocksHelper.GetUrl()images/window-open-color.svg"/>
                        </div>
                        <div class="dcg-main-botton-link">
                            <span class="dcg-caption dcg-link-text">Explorer</span>
                            <img src="@BlocksHelper.GetUrl()images/window-open-color.svg"/>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-md">
                    @await Html.PartialAsync("_ExchangeWidget")
                </div>
            </div>
        </div>
        <div class="dcg-section dcg-section_padding-small">
            <div class="margin-decorative">
                @await Html.PartialAsync("_CoinInfo", Model.coin.data)
            </div>
        </div>
        <div class="dcg-section dcg-section_padding-small">
            @await Html.PartialAsync("_CoinDesc", Model.Description)
        </div>
        <div class="dcg-section dcg-section_padding-small">
            @await Html.PartialAsync("_PopularPairs")
        </div>
        <div class="dcg-section dcg-section_padding-big">
            @await Html.PartialAsync("_SeoTexts", Model.TextBlocks)
        </div>
        <div class="dcg-section dcg-section_padding-big">
            @await Html.PartialAsync("_Faq", Model.Faq)
        </div>
        <div class="dcg-section dcg-section_hidden dcg-section_padding-small dcg-section_light-bottom-left">
            @await Html.PartialAsync("_DownloadWallet")
        </div>
        <div class="dcg-section dcg-section_border-bottom">
            @await Html.PartialAsync("_CoinsLine", BlocksHelper.GetCoinList(9))
        </div>
    </div>
</div>
