@inject CBlocksHelperVM BlocksHelper
@model CCoinPairsVM

@{
    ViewData["Title"] = Model.SeoInfo.title == "" ? "CoinPairs Page" : Model.SeoInfo.title;
    ViewData["Description"] = Model.SeoInfo.text == "" ? "" : Model.SeoInfo.text;
    ViewData["PageClass"] = "dc-pairs-page";
}

<div class="dc-pairs-page-content">
    <div class="container">
        <div class="dcg-section dcg-section_light-left dcg-section_border-bottom dcg-section_padding-heading">
            @await Html.PartialAsync("_Breadcrumbs", (controller: "", title: "", pageTitle: "Coin Pairs"))
            @await Html.PartialAsync("_MainTitle")
        </div>
        <div class="dcg-section dcg-section_padding-small">
            @await Html.PartialAsync("_FilterForm")
            @await Html.PartialAsync("_PairsTable", Model.pairs)
            <div class="row">
                @*<div class="col">@await Html.PartialAsync("_ItemsCountMenu")</div>*@
                <div class="col">@await Html.PartialAsync("_Pagination", BlocksHelper.GetPagination(Model.maxPage, Model.page))</div>
            </div>
        </div>
        <div class="dcg-section dcg-section_padding-small dcg-section_light-bottom-left">
            @await Html.PartialAsync("_DownloadWallet")
        </div>
    </div>        
</div>