@model CCoinPairVM
@inject CBlocksHelperVM BlocksHelper

@{
    bool non_page = Model.pair.data.coin1_id >= Model.pair.data.coin2_id;
    
    ViewData["Title"] = Model.SeoInfo.title == "" ? "CoinPair Page" : Model.SeoInfo.title;
    //ViewData["Title"] = non_page ? "Page not found" : ViewData["Title"];
    ViewData["Description"] = Model.SeoInfo.text == "" ? "" : Model.SeoInfo.text;
    ViewData["PageClass"] = "dc-pair-page";
}

<div class="dc-pairs-page-content">
    <div class="dcg-section dcg-section_mini dcg-section_light-left dcg-section_border-bottom dcg-section_padding-heading">
        <div class="container">
            <div class="row">
                <div class="col">
                    @await Html.PartialAsync("_Breadcrumbs", (controller: "CoinPairs", title: "Coin Pairs", pageTitle: $"{Model.pair.coin1.name.ToUpper()} to {Model.pair.coin2.name.ToUpper()}"))
                    @await Html.PartialAsync("_MainTitle", Model.PageHead)
                    <div class="dcg-pairs-button-block">
                        <button class="dcg-btn_big-padding">
                            <img src="@BlocksHelper.GetUrl()images/app-store.svg"/>
                        </button>
                        <div class="dcg-button-block">
                            @await Html.PartialAsync("_DownloadBtn")
                        </div>
                        <div class="dcg-caption dcg-caption_color">
                            No registration or identity verification required.
                        </div>
                    </div>
                </div>
                <div class="col-12 col-md">
                    <div class="dcg-exchange-widget">
                        @await Html.PartialAsync("_ExchangeWidget")
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="dcg-section dcg-section_padding-small">
        <div class="container">
            <div class="margin-decorative">
                @await Html.PartialAsync("_PairInfo", Model.pair.data)
            </div>
        </div>
    </div>
    <div class="dcg-section dcg-section_padding-small">
        <div class="container">
            @await Html.PartialAsync("_CoinDesc", Model.Description)
        </div>
    </div>
    <div class="dcg-section dcg-section_padding-small">
        <div class="container">
            @await Html.PartialAsync("_PopularPairs", Model.LinkedPairs)
        </div>
    </div>
    <div class="dcg-section dcg-section_padding-big">
        <div class="container">
            @await Html.PartialAsync("_SeoTexts", Model.TextBlocks)
        </div>
    </div>
    <div class="dcg-section dcg-section_padding-big">
        <div class="container">
            @await Html.PartialAsync("_Faq", Model.Faq)
        </div>
    </div>
    <div class="dcg-section dcg-section_hidden dcg-section_padding-small dcg-section_light-bottom-left">
        <div class="container">
            @await Html.PartialAsync("_DownloadWallet")
        </div>
    </div>
    <div class="dcg-section dcg-section_border-bottom">
        <div class="container">
            @await Html.PartialAsync("_CoinsLine", BlocksHelper.GetCoinList(9))
        </div>
    </div>
</div>