@*@model I_benefit *@

<div class="dc-benefit"> 
    <div class="dc-benefit__text">
        <h2 class="dcg-h2 dc-benefit__title">
            Stay incognito. Exchange anonymously.
        </h2>
        <p class="dc-benefit__ad">
            Start trading instantly on the Atomex DEX. 
            No forms, registration, KYC or identity verification or 
            personal information required. To protect our users, 
            we monitor trading activity to prevent service abuse 
            and swaps with suspicious origin of funds. 
        </p>  
    </div>
    <div class="dc-benefit__img">
        <img src="/images/benefit_two.png" alt="img"/>
    </div>
</div>  