@model IEnumerable<string[]> 
@inject CBlocksHelperVM BlocksHelper

<div class="dc-benefits">
    @foreach(var item in Model)
    {
        <div class="dc-benefit"> 
            <div class="dc-benefit__text">
                <h2 class="dcg-h2 dc-benefit__title">
                    @item[0]
                </h2>
                <p class="dc-benefit__ad">
                    @item[1]
                </p>  
            </div>
            <div class="dc-benefit__img">
                <img src="@item[2]" alt="img"/>
            </div>
        </div>  
    }
</div>   