// /*.....................................*/
// /* TEMPLATE: benefits */
.dc-benefits {

    .dc-benefit:nth-child(even) {

        .dc-benefit__text {
            order: 2;
            padding: 29px 22px 0px 60px;
        }

        .dc-benefit__img {
            order: 1;
        }
    }

    .dc-benefit:nth-child(odd) {

        .dc-benefit__text {
            padding: 38px 40px 0px 44px;
        }

        .dc-benefit__img {
        }
    }

    @include media-breakpoint-down (lg) {
        .dc-benefit:nth-child(odd) {

            .dc-benefit__text {
                padding: 0px;
                order: 2;
            }
        }

        .dc-benefit:nth-child(even) {

            .dc-benefit__text {
                padding: 0px;
                order: 2;
            }
        }
    }
}
// /* /TEMPLATE: benefits */
// /*.....................................*/
