@*@model I_benefit *@

<div class="dc-benefit"> 
    <div class="dc-benefit__text">
        <h2 class="dcg-h2 dc-benefit__title">
            A fully decentralized cross-chain exchange
        </h2>
        <p class="dc-benefit__ad">
            The Atomex App is on your side. No third-party trust.
            Non-custodial. No servers lurking in the background.
        </p>  
    </div>
    <div class="dc-benefit__img">
        <img src="/images/benefit_three.png" alt="img"/>
    </div>
</div>  