@*@model I_benefit *@

<div class="dc-benefit"> 
    <div class="dc-benefit__text">
        <h2 class="dcg-h2 dc-benefit__title">
            Exchange with true cross-chain DEX
        </h2>
        <p class="dc-benefit__ad">
            Cross-chain transactions are executed via a 
            cryptographically-secure atomic swap protocol. 
            Gain direct access to several blockchains, including 
            Bitcoin, Ethereum and Tezos. 
        </p>
        <div class="dc-benefit__link">
            <span class="dc-benefit__link-text">
                How atomic swaps work
            </span>
            <img src="/images/arrow-right.svg" class="dc-benefit__link-arrow" alt="arrow"/>
        </div>
    </div>
    <div class="dc-benefit__img">
        <img src="#" alt="img"/>
    </div>
</div>  