@*@model I_benefit *@

<div class="dc-benefit"> 
    <div class="dc-benefit__text">
        <h2 class="dcg-h2 dc-benefit__title">
            Exchange with true cross-chain DEX
        </h2>
        <p class="dc-benefit__ad">
            Atomex exchanges funds directly between Bitcoin,
            Ethereum, and Tezos blockchains. You don’t need
            to deal with any kinds of wraps, synthetics, etc.
            Cross-chain transactions are executed via a
            cryptographically-secure <a href="#" class="dcg-link-text dc-benefit">atomic swap protocol.</a>
        </p>  
    </div>
    <div class="dc-benefit__img">
        <img src="/images/benefit_one.png" alt="img"/>
    </div>
</div>  