@*@model I_breadcrumbs *@

<ul class="dc-breadcrumbs">
    <li class="dc-breadcrumbs__item dcg-caption"><a asp-controller="Home">Home</a></li>
    <li class="dc-breadcrumbs__item dcg-caption"><span>Coin Pairs</span></li>
</ul> 