// /*.....................................*/
// /* TEMPLATE: coins-line */
.dc-coins-line {
    white-space: nowrap;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow-x: auto;

    &__list {
        display: inline-block;
        min-width: 1158px;
    }

    &__item {
        display: inline-block;
        margin: 22px 38px 22px 0px;
    }

    &__more {
        color: #00D7CB;
        display: block;
    }

    &__arrow {
        margin-left: 8px;
    }

    .dc-coin {
        width: 85px;
    }

    @include media-breakpoint-down (xl) {
        & {
            padding-left: 46px;
            padding-right: 46px;
            justify-content: start;
        }

        &__item {
            margin-right: 10px;
        }

        &__list {
            min-width: auto;
        }
    }

    @include media-breakpoint-down (lg) {
        padding-left: 20px;
        padding-right: 10px;

        ul {
            display: flex;
        }

        &__list {
            min-width: auto;
        }

        &__item {
            width: 79px;
        }

        .dcg-caption {
            &_full {
                display: none !important;
            }

            &_small {
                display: block !important;
            }
        }
    }

    @include media-breakpoint-down (md) {
        & {
            padding-left: 25px;
            padding-right: 25px;
        }

        &__list {
            min-width: auto;
        }

        &__item {
            display: inline-block;
        }
    }

    @include media-breakpoint-down (sm) {
        &__list {
            min-width: auto;
        }

        .dcg-caption {
            margin-left: 20px;
        }

        &__item {
            margin-right: 0px;
        }
    }
}
// /* /TEMPLATE: coins-line */
// /*.....................................*/
