@inject CBlocksHelperVM BlocksHelper
@model IEnumerable<CCoinDataVM>

<div class="dc-coins-line">
    <ul class="dc-coins-line__list">
        @foreach(var coin in Model)
        {
            <li class="dc-coins-line__item">@await Html.PartialAsync("_Coin", coin.data)</li>
        }
    </ul>

    <a href="#" class="dc-coins-line__more dcg-caption">
        +9 more
        <img class="dc-coins-line__arrow" src="@BlocksHelper.GetUrl()images/arrow-right.svg"/>
    </a>
</div>