@inject CBlocksHelperVM BlocksHelper
@model IEnumerable<CCoinDataVM>

<div class="dc-coins-line">
    <ul class="dc-coins-line__list">
        @foreach(var coin in Model)
        {
            <li class="dc-coins-line__item">@await Html.PartialAsync("_Coin", (data: coin.data, link: true))</li>
        }
    </ul>

    <a asp-controller="Coins" asp-action="Index" class="dc-coins-line__more dcg-caption">
        More
    </a>
</div>