@inject CBlocksHelperVM BlocksHelper
@model CCoinDataM 
@{
    string img = Model.image == null ? $"{BlocksHelper.GetUrl()}images/bitcoin.png" : Model.image;
}
<span class="dc-coin">
    <img class="dc-coin__img" src="@img" alt="@Model.name_full" />
    <span class="dc-coin__title dcg-caption dcg-caption_full d-none d-md-inline">@Model.name_full</span>
    <span class="dc-coin__title dcg-caption dcg-caption_small d-md-none">@Model.name</span>
</span>    