@*@model I_coins-line *@

<div class="dc-coins-line">
    <ul>
        <li>@await Html.PartialAsync("_Coin")</li>
        <li>@await Html.PartialAsync("_Coin")</li>
        <li>@await Html.PartialAsync("_Coin")</li>
        <li>@await Html.PartialAsync("_Coin")</li>
        <li>@await Html.PartialAsync("_Coin")</li>
        <li>@await Html.PartialAsync("_Coin")</li>
        <li>@await Html.PartialAsync("_Coin")</li>
        <li>@await Html.PartialAsync("_Coin")</li>
        <li>@await Html.PartialAsync("_Coin")</li>
    </ul>

    <a href="#" class="dc-coins-line__more">+9 more</a>
</div>