// /*.....................................*/
// /* TEMPLATE: coins-line */
.dc-coins-line {
    white-space: nowrap;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow-x: auto;

    &__list {
        display: inline-block;
        min-width: 1158px;
    }

    &__item {
        display: inline-block;
        margin: 22px 38px 22px 0px;
    }

    &__more {
        color: #00D7CB;
        display: block;
    }

    &__arrow {
        margin-left: 8px;
    }

    @include media-breakpoint-down (xl) {
        & {
            padding-left: 46px;
            padding-right: 46px;
            justify-content: start;
        }
    }

    @include media-breakpoint-down (lg) {
        ul {
            display: flex;
        }

        &__list {
            min-width: 1100px;
        }
    }

    @include media-breakpoint-down (md) {
        & {
            padding-left: 25px;
            padding-right: 25px;
        }

        &__list {
            min-width: 1100px;
        }
    }
}
// /* /TEMPLATE: coins-line */
// /*.....................................*/
