@*@model I_coin-info *@

<div class="dc-coin-info">
    <h2 class="dcg-h2 dc-coin-info__title">Ethereum to USD price chart</h2>
    <div class="row">
        <div class="col">
            <div class="dc-coin-info__item">
                <div class="dc-coin-info__caption dcg-caption">Price</div>
                <h3 class="dcg-h3 dc-coin-info__value">$13.10580488</h3>
            </div>
        </div>
        <div class="col">
            <div class="dc-coin-info__item">
                <div class="dc-coin-info__caption dcg-caption">Market cap</div>
                <h3 class="dcg-h3 dc-coin-info__value">$360.9812B</h3>
            </div>
        </div>
        <div class="col">
            <div class="dc-coin-info__item">
                <div class="dc-coin-info__caption dcg-caption">24h change</div>
                <h3 class="dcg-h3 dc-coin-info__value dc-coin-info__value_positive">+4.13%</h3>
            </div>
        </div>
    </div>  
    @await Html.PartialAsync("_GraphWidget")
</div>