@*@model I_coins-line *@

<div class="dc-coins-line">
    <ul class="dc-coins-line__list">
        <li class="dc-coins-line__item">@await Html.PartialAsync("_Coin")</li>
        <li class="dc-coins-line__item">@await Html.PartialAsync("_Coin")</li>
        <li class="dc-coins-line__item">@await Html.PartialAsync("_Coin")</li>
        <li class="dc-coins-line__item">@await Html.PartialAsync("_Coin")</li>
        <li class="dc-coins-line__item">@await Html.PartialAsync("_Coin")</li>
        <li class="dc-coins-line__item">@await Html.PartialAsync("_Coin")</li>
        <li class="dc-coins-line__item">@await Html.PartialAsync("_Coin")</li>
        <li class="dc-coins-line__item">@await Html.PartialAsync("_Coin")</li>
        <li class="dc-coins-line__item">@await Html.PartialAsync("_Coin")</li> 
    </ul>

    <a href="#" class="dc-coins-line__more dcg-caption">
        +9 more
        <img class="dc-coins-line__arrow" src="/images/arrow-right.svg"/>
    </a>
</div>