// /*.....................................*/
// /* TEMPLATE: coin */
.dc-coin {
    display: inline-flex;
    padding: 10px 0px;

    &__title {
        margin: 3px 0px 0px 7px;
        overflow: hidden;
        max-width: 100px;
        min-width: 50px;
        text-overflow: ellipsis;
        -webkit-line-clamp: 1;
        -webkit-box-orient: vertical;
    }

    &__img {
        height: 25px;
        width: 25px;
    }

    @include media-breakpoint-down (sm) {
    }
}
// /* /TEMPLATE: coin */
// /*.....................................*/
