@model CCoinDataM 

<a asp-controller="Coins" asp-action="Coin" asp-route-coin="@Model.name" class="dc-coin">
    <img class="dc-coin__img" src="@Model.image" alt="@Model.name_full" />
    <span class="dc-coin__title dcg-caption">@Model.name_full</span>
</a>    