@model IEnumerable<CCoinDataVM>

<table class="dc-coins-table">
    <tr>
        <th>Name</th>
        <th>Price @await Html.PartialAsync("_TableOrderIcons")</th>
        <th>Market Cap @await Html.PartialAsync("_TableOrderIcons")</th>
        <th>24h change @await Html.PartialAsync("_TableOrderIcons")</th>
        <th>Availability</th>
    </tr>

    @foreach (var coin in Model)
    {
        <tr>
            <td>
                @await Html.PartialAsync("_Coin", coin.data)
            </td>

            <td><span>≈ @coin.data.usd_price</span></td>
            <td><span>$@coin.data.market_cap</span></td>
            <td><span>@coin.data.day_change</span></td>
            <td><span>@CConst.AVAILABILITY</span></td>
        </tr>
    }
</table>