@model IEnumerable<CCoinDataVM>

<table class="dc-coins-table">
    <tr class="dc-coins-table__head">
        <th class="dcg-caption">From - To</th>
        <th class="dcg-caption">Price</th>
        <th class="dcg-caption">Network Fee</th>
        <th class="dcg-caption">Instant volume</th>
        <th class="dcg-caption">Traded  volume @await Html.PartialAsync("_TableOrderIcons")</th>
        <th class="dcg-caption">Availability</th>
    </tr>

    @foreach (var coin in Model)
    {
        <tr class="dc-coins-table__item">
            <td>
                @await Html.PartialAsync("_Coin", coin.data)
            </td>

            <td><span class="dc-coins-table__text-box dcg-caption">≈ @coin.data.usd_price</span></td>
            <td><span class="dc-coins-table__text-box dcg-caption">$@coin.data.market_cap</span></td>
            <td><span class="dc-coins-table__text-box dcg-caption">@coin.data.day_change</span></td>
            <td><span class="dc-coins-table__text-box dcg-caption">$83,862.9812</span></td>
            <td><span class="dc-coins-table__device">@CConst.AVAILABILITY</span></td>
        </tr>
    }
</table>