// /*.....................................*/
// /* TEMPLATE: coin */
.dc-coin {
    display: inline-flex;
    padding: 10px 0px;

    &__img {
        width: 25px;
        height: 25px;
    } 
    
    &__title {
        margin: 3px 0px 0px 7px;
    }

    @include media-breakpoint-down (sm) {
    }
}
// /* /TEMPLATE: coin */
// /*.....................................*/
