@*@model I_coin-desc *@

<div class="dc-coin-desc">
    <h2 class="dcg-h2">What is Ethereum?</h2>
    <p class="dc-coin-desc__text">
        Ethereum is the first worldwide smart-contract platform. As its creator, Vitalik Buterin, said: "If you imagine that Bitcoin is a folding knife, then Ethereum is a Swiss knife”. Ethereum is the first decentralized platform, where the transfer of payment funds between users can be performed according to arbitrary, user-
        programmed logic. It implements the concept of a world computer that allows anyone to build applications in a decentralized manner; while all states and data are distributed and publicly accessible. For nowadays there is an extensive list of all-kinds of decentralized apps (dapps) that are built on Ethereum.
    </p>
</div> 