@model IEnumerable<CCoinDataVM>

<table class="dc-coins-table">
    <tr class="dc-coins-table__head">
        <th class="dcg-caption">Name</th>
        <th class="dcg-caption">Price @await Html.PartialAsync("_TableOrderIcons", (order: "usd_price", title: ""))</th>
        <th class="dcg-caption">Market Cap @await Html.PartialAsync("_TableOrderIcons", (order: "day_percent_change", title: ""))</th>
        <th class="dcg-caption">24h change @await Html.PartialAsync("_TableOrderIcons", (order: "day_percent_change", title: ""))</th>
        <th class="dcg-caption">Availability</th>
    </tr>

    @foreach (var coin in Model)
    {
        <tr class="dc-coins-table__item">
            <td>
                @await Html.PartialAsync("_Coin", coin.data)
            </td>

            <td><span class="dc-coins-table__text-box dcg-caption">≈ @coin.data.usd_price</span></td>
            <td><span class="dc-coins-table__text-box dcg-caption">$@coin.data.market_cap</span></td>
            <td><span class="dc-coins-table__text-box dcg-caption"><change>@coin.data.day_percent_change</change></span></td>
            <td><span class="dc-coins-table__device">@CConst.AVAILABILITY</span></td>
        </tr>
    }
</table>