// /*.....................................*/
// /* TEMPLATE: copyright */
.dc-copyright {
    line-height: 20px;

    &__text {
        font-family: 'Inter';
        font-style: normal;
        font-weight: 400;
        font-size: 15px;
    }

    &__text:first-child {
        margin-right: 12px;
    }

    @include media-breakpoint-down (sm) {
    }
}
// /* /TEMPLATE: copyright */
// /*.....................................*/
