@*@model I_copyright *@

<p class="dc-copyright">
    <span class="dc-copyright__text dcg-caption">© Atomex OÜ. All rights reserved.</span>
    <a href="https://atomex.me/terms.html" class="dc-copyright__text dcg-caption">Terms of use</a>
    <a href="#" class="dc-copyright__link">Privacy Policy</a>
</p> 