@*@model I_copyright *@

<p class="dc-copyright">
    <span class="dc-copyright__text dcg-caption">© Atomex OÜ. All rights reserved.</span>
    <span class="dc-copyright__text dcg-caption">Terms of use</span>
    <span class="dc-copyright__link">Privacy Policy</span>
</p> 