// /*.....................................*/
// /* TEMPLATE: download-wallet */
.dc-download-wallet {

    &__text-small {
        font-family: 'Inter';
        font-style: normal;
        font-weight: 400;
        font-size: 17px;
        line-height: 26px;
        letter-spacing: 0.01em;
        color: rgba(221, 234, 250, 0.92);
        margin-bottom: 56px;
    }

    &__decorative-blocks {
        display: block;
        //position: relative;
        //height: 364px;
    }

    &__decorative-img {
        position: relative;
        top: 0px;
        right: -100px;
    }

    @include media-breakpoint-down (lg) {
        & {
            margin-top: 100px;
            margin-bottom: 100px;
        }

        &__decorative-img {
            position: relative;
            top: 0px;
            right: -100px;
            height: 450px;
            width: 1000px;
        }
    }

    @include media-breakpoint-down (md) {
        &__decorative-img {
            position: relative;
            top: 0px;
            right: -100px;
            height: 450px;
            width: 1000px;
        }

        &_wrapper-main {
            width: 100%;
            text-align: center;
        }

        & {
            margin-top: 50px;
            margin-bottom: 50px;
        }
    }
}
// /* /TEMPLATE: download-wallet */
// /*.....................................*/
