// /*.....................................*/
// /* TEMPLATE: download-wallet */
.dc-download-wallet {
    padding: 133px 63px 219px 80px;

    &__text-small {
        font-family: 'Inter';
        font-style: normal;
        font-weight: 400;
        font-size: 17px;
        line-height: 26px;
        letter-spacing: 0.01em;
        color: rgba(221, 234, 250, 0.92);
        margin-bottom: 56px;
    }

    @include media-breakpoint-down (sm) {
    }
}
// /* /TEMPLATE: download-wallet */
// /*.....................................*/
