@*@model I_download-btn *@

<div class="dc-download-btn dcg-btn">
    <div class="dc-download-btn__caption">Get Windows app</div>
    <div class="dc-download-btn__select">
        <div class="dc-download-btn__value">
            <img src="/images/windows-brand.svg" alt="windows-icon" />
        </div>
        <ul class="dc-download-btn__value">
            <li><a href="#"><img src="#" alt="" /></a></li>
            <li><a href="#"><img src="#" alt="" /></a></li>
            <li><a href="#"><img src="#" alt="" /></a></li>
        </ul>
    </div>
</div> 