@*@model I_download-wallet *@

<div class="dc-download-wallet">
    <div class="row">
        <div class="col">
            <h2 class="dcg-h2">Download Atomex Wallet</h2>
            <p class="dc-download-wallet__text-small">
                Atomex is a non-custodial multicurrency HD wallet. Audited
                and available on multiple platforms. 
            </p> 

            @await Html.PartialAsync("_DownloadBtn")
        </div>
        <div class="col">
            <div class="dc-download-wallet__decorative-blocks">
                
            </div>
        </div>
    </div>
</div> 