// /*.....................................*/
// /* TEMPLATE: download-btn */
.dc-download-btn {
    display: inline-flex;
    flex-direction: column;
    margin-bottom: 16px;
    box-shadow: 8px 13px 20px rgba(15, 6, 41, 0.22), inset 0px -1px 2px rgba(135, 103, 226, 0.07);
    position: relative;

    &__select {
        position: absolute;
        display: none;
        top: 100%;
        left: 0;
        z-index: 100;
        width: 94px;
        background-color: rgba(37, 54, 78, 1);
        border-radius: 0px 0px 8px 8px;
        text-align: center;
    }

    &__logo {
        margin: 5px 0px;
    }

    &__logo:first-child {
        margin: 15px 0px;
    }

    &__logo:last-child {
        margin: 5px 0px 15px 0px;
    }

    &__img {
    }

    &__button {
        display: inline-flex; // ===========
        justify-content: center;
        padding: 17px 33px 17px 25px;
        position: relative;
        cursor: pointer;
    }

    &__value {
        display: inline-block;
        height: 24px; // ===========
        margin-right: 45px;
    }

    &__value::after {
        content: '';
        height: 100%;
        width: 1px;
        background-color: rgba(196, 222, 255, 0.2);
        display: inline-block;
        position: absolute;
        top: 0px;
        left: 93px;
    }

    &__caption {
        display: inline-block;
        font-family: 'Inter';
        font-style: normal;
        font-weight: 400;
        font-size: 17px;
        line-height: 26px;
        letter-spacing: 0.01em;
        color: rgba(221, 234, 250, 0.92);
        height: 24px; // ===========
    }

    @include media-breakpoint-down (lg) {
    }
}
// /* /TEMPLATE: download-btn */
// /*.....................................*/
