@*@model I_download-btn *@

<div class="dc-download-btn">
    <div class="dc-download-btn__button dcg-btn">
        <div class="dc-download-btn__value">
            <img src="/images/windows-brand.svg" alt="windows-icon" />
            <img src="/images/down.svg" alt="arrow-down" />
        </div>
        <div class="dc-download-btn__caption">Get Windows app</div>
    </div>
    <ul class="dc-download-btn__select">
        <li class="dc-download-btn__logo"><a href="#"><img class="dc-download-btn__img" src="/images/ubuntu-brand.svg" alt="ubuntu-icon" /></a></l>
        <li class="dc-download-btn__logo"><a href="#"><img class="dc-download-btn__img" src="/images/apple-brand.svg" alt="apple-icon" /></a></li>
    </ul>
</div>  