@*@model I_exchange-widget *@

<div class="dc-exchange-widget">
    <div class="dc-exchange-widget__block">
        <div class="dc-exchange-widget__coins">
            <div class="dc-exchange-widget__coin">
                <div class="dc-exchange-widget__logo">
                    <img class="dc-exchange-widget__img" src="/images/ethereum-logo.png" alt="ETH"/>
                    ETH
                </div>
                <div class="dc-exchange-widget__numbers">
                    <p class="dc-exchange-widget__amount">
                        1
                    </p>
                    <p class="dc-exchange-widget__price">
                        $2,741.47
                    </p>
                </div>
            </div>
            <div class="dc-exchange-widget__coin">
                <div class="dc-exchange-widget__logo">
                    <img class="dc-exchange-widget__img" src="/images/tezos-logo.png" alt="XTZ"/>
                    XTZ
                </div>
                <div class="dc-exchange-widget__numbers">
                    <p class="dc-exchange-widget__amount">
                        1
                    </p>
                    <p class="dc-exchange-widget__price">
                        $2,741.47
                    </p>
                </div>
            </div>
            <img class="dc-exchange-widget__arrows" src="/images/arrows-change.svg"/>
        </div>
        <div class="dc-exchange-widget__text dcg-caption">
            <div class="dc-exchange-widget__info">
                Available 83,862.9812 XTZ
                <img src="/images/question.svg"/>
            </div>
            <div class="dc-exchange-widget__info">
                <span>1 XTZ = 0.00111181 ETH</span> 
                <span class="dc-exchange-widget__slash">/</span> 
                <span>$3.04</span>
                <img src="/images/question.svg"/>
            </div>
            <div class="dc-exchange-widget__info">
                Network fees 0.004 ETH
                <img src="/images/question.svg"/>
            </div>
        </div>
        <button class="dc-exchange-widget__button dcg-bg-btn">Exchange</button>
    </div>
</div> 