// /*.....................................*/
// /* TEMPLATE: faq */
.dc-faq {

    &__title {
        text-align: center;
        margin-bottom: 40px;
    }

    &__item {
        border-width: 1px 0px 0px 0px;
        border-style: solid;
        border-color: rgba(196, 222, 255, 0.12)
    }

    &__caption {
        padding: 16px 24px 18px 24px;
    }

    &__heading {
        font-family: 'Inter';
        font-style: normal;
        font-weight: 400;
        font-size: 17px;
        line-height: 26px;
        color: rgba(221, 234, 250, 0.92);
        letter-spacing: 0.01em;
    }

    &__arrow {
        float: right;
        transition: all 300ms;
        transform: rotate(0deg);
    }

    &__list {
        border-width: 0px 0px 1px 0px;
        border-style: solid;
        border-color: rgba(196, 222, 255, 0.12)
    }

    &__content {
        display: none;
        padding-left: 24px; 
        padding-bottom: 20px;
    }

    &__item.dcg-active {
        .dc-faq__arrow {
            transition: all 300ms;
            transform: rotate(180deg);
        }
    }

    @include media-breakpoint-down (sm) {
    }
}
// /* /TEMPLATE: faq */
// /*.....................................*/
