@inject CBlocksHelperVM BlocksHelper
@model IEnumerable<CTextBlockVM>

<div class="dc-faq">
    <h2 class="dc-faq__title dcg-h2">Frequently Asked Questions</h2>
    <ul class="dc-faq__list">
        @foreach (var item in Model)
        {
            <li class="dc-faq__item dcj-btn">
                <div class="dc-faq__caption">
                    <span class="dc-faq__heading">@Html.Raw(item.title)</span>
                    <img class="dc-faq__arrow" src="@BlocksHelper.GetUrl()images/down-color.svg"/>
                </div>
                <div class="dc-faq__content dcj-content">
                    <p>@Html.Raw(item.text)</p>
                </div>
            </li>
        }
    </ul>
</div>