@*@model I_faq *@

<div class="dc-faq">
    <h2 class="dcg-h2">Frequently Asked Questions</h2>
    <ul class="dc-faq__list">
        <li>
            <div class="dc-faq__caption">
                <h3 class="dcg-h3">What are decentralized exchanges (DEX)?</h3>
            </div>
            <div class="dc-faq__content">
                <p>content</p>
            </div>
        </li>

        <li>
            <div class="dc-faq__caption">
                <h3 class="dcg-h3">How do cross-chain DEXs work?</h3>
            </div>
            <div class="dc-faq__content">
                <p>content</p>
            </div>
        </li>

        <li>
            <div class="dc-faq__caption">
                <h3 class="dcg-h3">How does a decentralized exchange differ from a normal cryptocurrency exchange (or centralized exchange)?</h3>
            </div>
            <div class="dc-faq__content">
                <p>content</p>
            </div>
        </li>

        <li>
            <div class="dc-faq__caption">
                <h3 class="dcg-h3">What are decentralized exchanges (DEX)?</h3>
            </div>
            <div class="dc-faq__content">
                <p>content</p>
            </div>
        </li>
    </ul>
</div>