@*@model I_faq *@

<div class="dc-faq">
    <h2 class="dc-faq__title dcg-h2">Frequently Asked Questions</h2>
    <ul class="dc-faq__list">
        <li class="dc-faq__item">
            <div class="dc-faq__caption">
                <span class="dc-faq__heading">What are decentralized exchanges (DEX)?</span>
                <svg class="dc-faq__arrow" width="25" height="24" viewBox="0 0 25 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M6.5 10L12.5 16L18.5 10" stroke="#00D7CB" stroke-opacity="0.92" stroke-linecap="round"/>
                </svg>
            </div>
            <div class="dc-faq__content">
                <p>content</p>
            </div>
        </li>

        <li class="dc-faq__item">
            <div class="dc-faq__caption">
                <span class="dc-faq__heading">How do cross-chain DEXs work?</span> 
                <svg class="dc-faq__arrow" width="25" height="24" viewBox="0 0 25 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M6.5 10L12.5 16L18.5 10" stroke="#00D7CB" stroke-opacity="0.92" stroke-linecap="round"/>
                </svg>
            </div>
            <div class="dc-faq__content">
                <p>content</p>
            </div>
        </li>

        <li class="dc-faq__item">
            <div class="dc-faq__caption">
                <span class="dc-faq__heading">How does a decentralized exchange differ from a normal cryptocurrency exchange (or centralized exchange)?</span>
                <svg class="dc-faq__arrow" width="25" height="24" viewBox="0 0 25 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M6.5 10L12.5 16L18.5 10" stroke="#00D7CB" stroke-opacity="0.92" stroke-linecap="round"/>
                </svg> 
            </div>
            <div class="dc-faq__content">
                <p>content</p>
            </div>
        </li>

        <li class="dc-faq__item">
            <div class="dc-faq__caption">
                <span class="dc-faq__heading">What are decentralized exchanges (DEX)?</span>
                <svg class="dc-faq__arrow" width="25" height="24" viewBox="0 0 25 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M6.5 10L12.5 16L18.5 10" stroke="#00D7CB" stroke-opacity="0.92" stroke-linecap="round"/>
                </svg>
            </div>
            <div class="dc-faq__content">
                <p>content</p>
            </div>
        </li>
    </ul>
</div>