@*@model I_filter *@

<div class="dc-filter">
    <select name="from" placeholder="from">
        <option value="10">10</option>
        <option value="20">20</option>
        <option value="30">30</option>
    </select>

    <select name="to" placeholder="to">
        <option value="10">10</option>
        <option value="20">20</option>
        <option value="30">30</option>
    </select>
</div> 