@*@model I_filter-form *@

<form class="dc-filter-form">
    <div class="row">
        <div class="col">@*@await Html.PartialAsync("_Filter")*@</div>
        <div class="col">
            @await Html.PartialAsync("_Sort", new Dictionary<string, string> 
            {
                {"Price", "usd_price"},
                {"Market Cap", "day_percent_change"},
                {"24h change", "day_percent_change"},
            })
        </div>
    </div>
</form>