@*@model I_filter-form *@

<form class="dc-filter-form">
    <div class="row">
        <div class="col-8 col-lg-auto">@await Html.PartialAsync("_Filter")</div>
        <div class="col">@await Html.PartialAsync("_Sort")</div>
    </div>
</form>