@*@model I_filter-form *@
@inject CBlocksHelperVM BlocksHelper

<form class="dc-filter-form">
    <div class="row">
        <div class="col">@*@await Html.PartialAsync("_Filter")*@</div>
        <div class="col">
            @await Html.PartialAsync("_Sort", (current: BlocksHelper.GetQuery("order"), list: new Dictionary<string, string> 
            {
                {"Price", "e.usd_price"},
                {"Market Cap", "e.market_cap"},
                {"24h change", "e.usd_price"},
            }))
        </div>
    </div>
</form>