@*@model I_filter *@

<div class="dc-filter">
    <select name="from" placeholder="from">
        <option value="10">From</option>
        <option value="20">content</option>
        <option value="30">content</option>
    </select>

    <select name="to" placeholder="to">
        <option value="10">To</option>
        <option value="20">content</option>
        <option value="30">content</option>
    </select>
</div>