
<nav class="dc-footer-additional">
    <ul>
        <li><a class="dc-footer-menu__item" href="https://atomex.me/terms.html"><span>Terms</span></a></li>
        <li><a class="dc-footer-menu__item" href="#"><span>Privacy</span></a></li>
    </ul>     
</nav>