// /*.....................................*/
// /* TEMPLATE: footer */
.dc-footer {

    &__wrap {
        padding: 64px 128px 40px 80px;
        background-color: #051429;
    }

    &__menu {
        display: flex;
        justify-content: end;
        gap: 99px;
    }

    &__menu div {
        display: inline-block;
    }

    .dc-logo {
        line-height: 12px;
        margin-bottom: 24px;
    }

    .dc-soc-btns {
        margin: 16px 0px 16px 0px;
    }

    @include media-breakpoint-down (xl) {
        &__wrap {
            padding: 64px 80px 40px 80px;
        }

        &__menu {
            justify-content: end;
            gap: 63px;
        }
    }

    @include media-breakpoint-down (lg) {
        &__wrap {
            padding: 64px 32px 40px 32px;
        }

        &__menu {
            justify-content: start;
            gap: 120px;
        }
    }

    @include media-breakpoint-down (md) {
        &__wrap {
            padding: 64px 32px 64px 32px;
        }

        &__menu {
            justify-content: start;
            gap: 130px;
        }
    }

    @include media-breakpoint-down (sm) {

        &__wrap {
            padding: 40px 32px 50px 32px;
        }

        &__menu {
            gap: 40px;
            display: block;
        }
    }
}
    // /* /TEMPLATE: footer */
    // /*.....................................*/
