@*@model I_footer-menu *@

<nav class="dc-footer-menu">
    <h5 class="dcg-caption dc-footer-menu__title">Atomex</h5>

    <ul>
        <li><a class="dc-footer-menu__item" href="#"><span>Exchange</span></a></li>
        <li><a class="dc-footer-menu__item" href="#">Wallet</a></li>
        <li><a class="dc-footer-menu__item" href="#">Downloads</a></li>
        <li><a class="dc-footer-menu__item" href="#">Docs</a></li>
    </ul>
     
    <a class="dc-footer-menu__last-item" href="#">View all coins</a> 
</nav>