@*@model I_footer-menu *@

<nav class="dc-footer-menu">
    <h2 class="dcg-h2">Title</h2>

    <ul>
        <li><a href="#">item</a></li>
        <li><a href="#">item</a></li>
        <li><a href="#">item</a></li>
    </ul>
</nav>