@*@model I_footer-desc *@

<div class="dc-footer-desc">
<p class="dc-footer-desc__tetx">
    Control your money, stay incognito and protect your financial privacy. 
Atomex is an anonymous decentralized cross-chain exchange and noncustodial multicurrency HD wallet. We are audited and available on 
multiple platforms.
</p> 
<a class="dc-footer-desc__link dcg-link-text" href="mailto:support@atomex.me">support@atomex.me</a>
</div>