// /*.....................................*/
// /* TEMPLATE: footer-menu */
.dc-footer-menu {
    width: 126px;

    li {
        line-height: 30px;
    }

    li:first-child {
        margin-top: 10px;
    }

    a {
        font-weight: 400;
        font-size: 15px;
        line-height: 22px;
    }

    &__title {
        color: rgba(196, 222, 255, 0.72);
    }

    &__item {
        color: rgba(221, 234, 250, 0.92);
    }

    &__last-item {
        margin-top: 16px;
    }

    @include media-breakpoint-down (sm) {
    }
}
// /* /TEMPLATE: footer-menu */
// /*.....................................*/
