@inject CBlocksHelperVM BlocksHelper
@*@model I_footer *@

<div class="dc-footer">
    <div class="container">
        <div class="dc-footer__wrap">
            <div class="row">
                <div class="col-12 col-xl order-2 order-xl-1 mt-5 mt-xl-0">
                    @await Html.PartialAsync("_Logo")
                    @await Html.PartialAsync("_FooterDesc")
                    @await Html.PartialAsync("_SocBtns")
                    @await Html.PartialAsync("_Copyright")
                </div>
                <div class="col-12 col-xl order-1">
                    <div class="dc-footer__menu">
                        @await Html.PartialAsync("_FooterMenu", BlocksHelper.GetFooterMenu())
                        @await Html.PartialAsync("_FooterMenu", BlocksHelper.GetFooterCoinsMenu())
                        @await Html.PartialAsync("_FooterMenu", BlocksHelper.GetFooterPairsMenu())
                    </div> 
                </div>      
            </div>
        </div>
    </div>
</div>