// /*.....................................*/
// /* TEMPLATE: header */
.dc-header {

    &__wrap {
        padding: 15px 32px;
        background-color: #051429;
    }

    .dc-logo {
        margin: 10px 0 0 0;
    }

    &__logo {
        display: inline-block;
    }

    &__burger {
        display: none;
        width: 24px;
        height: 18px;
        position: relative;
        margin-top: 16px;
        margin-right: 4px;
    }

    &__burger div {
        width: 24px;
        height: 2px;
        background: #C4C4C4;
        border-radius: 1px;
        display: inline-block;
        top: 8px;
        position: absolute;
    }

    &__burger::before,
    &__burger::after {
        content: '';
        position: absolute;
        width: 24px;
        height: 2px;
        background: #C4C4C4;
        border-radius: 1px;
        display: inline-block;
        transition: all 200ms;
    }

    &__burger::before {
        top: 0px;
        transform: rotate(0deg);
    }

    &__burger::after {
        bottom: 0px;
        transform: rotate(0deg);
    }

    &__burger.dcg-active::after, &__burger:hover::after {
        transform: rotate(45deg);
        bottom: 8px;
    }

    &__burger.dcg-active::before, &__burger:hover::before {
        transform: rotate(-45deg);
        top: 8px;
    }

    &__burger.dcg-active div, &__burger:hover div {
        transform: scale(0);
        transition: all 50ms;
    }

    &__wrap.dcg-active {
        position: fixed;
        top: 0px;
        left: 0px;
        width: 100%;
        height: 100%;
        z-index: 2;
    }

    @include media-breakpoint-down (lg) {
        &__wrap {
            height: 80px;
            overflow: hidden;
            border-width: 0px 0px 1px 0px;
            border-style: solid;
            border-color: rgba(196, 222, 255, 0.12);
        }

        & .dcg-active {
            height: 100%;
            overflow: visible;

            &__wrap {
                border: none;
            }
        }

        &__burger {
            display: inline-block;
        }

        &__menu {
        }

        &__buttons {
        }
    }
}
// /* /TEMPLATE: header */
// /*.....................................*/
