@*@model I_header *@

<div class="dc-header">
    <div class="container">
        <div class="dc-header__wrap">
            <div class="row justify-content-center">
                <div class="col-12 col-lg-2 d-flex justify-content-between">
                    <div class="dc-header__logo">@await Html.PartialAsync("_Logo")</div>
                    <div class="dc-header__burger">
                        <div></div>
                    </div>
                </div>
                <div class="col-12 col-lg-auto">
                    <div class="dc-header__menu">@await Html.PartialAsync("_MainMenu")</div>
                </div>
                <div class="col-8 col-lg-4">
                    <div class="dc-header__buttons">
                        @await Html.PartialAsync("_MainBtnMenu")
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>