@*@model I_header *@

<div class="dc-header">
    <div class="container">
        <div class="dc-header__wrap">
            <div class="row">
                <div class="col-2 col-md-3">
                    <div class="dc-header__logo">@await Html.PartialAsync("_Logo")</div>
                </div>
                <div class="col">
                    <div class="dc-header__menu">@await Html.PartialAsync("_MainMenu")</div>
                </div>
                <div class="col-4">
                    <div class="dc-header__buttons">
                        @await Html.PartialAsync("_MainBtnMenu")
                    </div>
                </div>
                <div class="col-1">
                    <div class="dc-header__burger">
                        <div></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>