// /*.....................................*/
// /* TEMPLATE: highlights */
.dc-highlights {
    margin: 60px 80px 80px 80px;

    .dcg-caption {
        margin-top: 16px;
    }
    
    @include media-breakpoint-down (sm) {
    }
} 
// /* /TEMPLATE: highlights */
// /*.....................................*/
