@*@model I_highlight *@

<div class="dc-highlight">
    <h3 class="dc-highlight__title dcg-h3">$55M+ Trading Volume</h3>
    <p class="dc-highlight__text dcg-caption">Your counterparty is a professional market maker whose task is to ensure sufficient liquidity.</p>
</div>