@model IEnumerable<CTextBlockVM>

<div class="dc-highlights">
    <div class="row">
        @foreach (var item in Model)
        {
            <div class="col-12 col-md">@await Html.PartialAsync("_Highlight", item)</div>
        }
    </div>
</div>