@*@model I_highlights *@

<div class="dc-highlights">
    <div class="row">
        <div class="col-3">@await Html.PartialAsync("_Highlight")</div>
        <div class="col">@await Html.PartialAsync("_Highlight")</div>
        <div class="col">@await Html.PartialAsync("_Highlight")</div>
        <div class="col">@await Html.PartialAsync("_Highlight")</div>
    </div>
</div>