@*@model I_highlight *@

<div class="dc-highlight">
    <h2 class="dcg-h2">$55M+ Trading Volume</h2>
    <p>Your counterparty is a professional market maker whose task is to ensure sufficient liquidity.</p>
</div>