@*@model I_items-count-menu *@

<div class="dc-items-count-menu">
    <span class="dc-items-count-menu__caption">Show</span>
    <ul>
        <li><a href="?count=20">20</a></li>
        <li><a href="?count=50">50</a></li>
        <li><a href="?count=100">100</a></li>
    </ul>
</div>