<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"]</title>
    
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter&family=Roboto&display=swap" rel="stylesheet">
    
    <link rel="stylesheet" href="~/css/lib.min.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/style.css" asp-append-version="true" />
</head>
<body class="@ViewData["PageClass"]">
    @await Html.PartialAsync("_Header")
    @RenderBody()
    @await Html.PartialAsync("_Footer")
    @*@RenderSection("PageHead")*@

    <script src="~/js/lib.min.js"></script>
    <script src="~/js/main.js"></script>
</body>
</html>
