// /*.....................................*/
// /* TEMPLATE: logo */
.dc-logo {
    display: block;
    height: 30px;
    width: 148px;


    img {
        height: 30px;
        width: 148px;
    }

    @include media-breakpoint-down (sm) {
    }
}
// /* /TEMPLATE: logo */
// /*.....................................*/
