@*@model I_main-btn-menu *@

<div class="dc-main-btn-menu">
    <a href="#" class="dcg-btn dcg-btn_dark dcg-icon-right">Atomex Wallet</a>
    <a href="#" class="dcg-btn dcg-btn_color dcg-icon-right">Exchange</a>
</div>