// /*.....................................*/
// /* TEMPLATE: main-btn-menu */
.dc-main-btn-menu {
    display: flex;
    flex-direction: row;
    gap: 15px;
    justify-content: end;

    .dcg-btn {
    }

    @include media-breakpoint-down (lg) {
        & {
            flex-direction: column;
            margin-top: 40px;
        }
    }
}
// /* /TEMPLATE: main-btn-menu */
// /*.....................................*/
