// /*.....................................*/
// /* TEMPLATE: main-title-info */
.dc-main-title-info {
    padding: 54px 0px 0px 0px;

    &__caption {
        font-size: 15px;
        line-height: 22px;
        margin-bottom: 16px;
    }

    &__download {
        margin-top: 40px;
    }

    &__warning {
        font-family: 'Inter';
        font-style: normal;
        font-weight: 400;
        font-size: 15px;
        line-height: 22px;
        color: rgba(196, 222, 255, 0.72);
    }

    @include media-breakpoint-down (lg) {
        & {
            padding: 0px;
            text-align: center;
            margin-bottom: 47px;
        }

        &__download {
            display: none;
        }
    }
}
// /* /TEMPLATE: main-title-info */
// /*.....................................*/
