// /*.....................................*/
// /* TEMPLATE: main-title */
.dc-main-title {
    margin-bottom: 30px;

    &__caption {
        margin-top: 24px;
        margin-bottom: 8px;
        color: rgba(221, 234, 250, 0.92);
    }

    &__desc {
        color: rgba(196, 222, 255, 0.72);
    }

    @include media-breakpoint-down (sm) {
    }
}
// /* /TEMPLATE: main-title */
// /*.....................................*/
