// /*.....................................*/
// /* TEMPLATE: main-btn-menu */
.dc-main-btn-menu {
    display: flex;
    flex-direction: row;
    gap: 15px;
    justify-content: end;

    a {
        display: inline-flex;
        align-items: center;
    }

    a:last-child {
        /*display: none;*/
    }
    .dcg-btn_dark {

    }
    .dcg-btn {
    }

    @include media-breakpoint-down (xl) {

        & {
            justify-content: center;
            margin-top: 10px;
        }
    }

    @include media-breakpoint-down (md) {
        a {
            margin-bottom: 24px;
        }
    }

    @include media-breakpoint-down (sm) {
        display: block;

        .dcg-btn {
            display: block;

            &::after {
                display: inline-block;
            }
        }
    }
}
// /* /TEMPLATE: main-btn-menu */
// /*.....................................*/
