@*@model I_main-title-info *@

<div class="dc-main-title-info">
    <p class="dcg-decor-clr"></p>
    <h1 class="dcg-h1"></h1>
    <div class="dc-main-title-info__download">
        @await Html.PartialAsync("_DownloadBtn")
        <p></p>
    </div>
</div>