// /*.....................................*/
// /* TEMPLATE: main-btn-menu */
.dc-main-btn-menu {
    display: flex;
    flex-direction: row;
    gap: 15px;
    justify-content: end;

    .dcg-btn {
    }

    @include media-breakpoint-down (xl) {
        .dcg-btn {
            &::after {
                display: none;
            }
        }
    }

    @include media-breakpoint-down (sm) {
        display: block;

        .dcg-btn {
            display: block;

            &::after {
                display: inline-block;
            }
        }
    }
}
// /* /TEMPLATE: main-btn-menu */
// /*.....................................*/
