@*@model I_main-menu *@

<nav class="dc-main-menu">
    <ul>
        <li><a href="#">Wallet</a></li>
        <li><a href="#">Coins</a></li>
        <li><a href="#">Coin Pairs</a></li>
        <li><a href="#" class="dcg-icon-right">Docs</a></li>
        <li><a href="#">Downloads</a></li>
    </ul>
</nav>