@model CTextBlockVM

<div class="dc-main-title-info">
    <p class="dcg-link-text dc-main-title-info__caption">@Model.text</p>
    <h1 class="dcg-h1">
        @Model.title
    </h1>
    <div class="dc-main-title-info__download">
        @await Html.PartialAsync("_DownloadBtn")
        <p class="dc-main-title-info__warning">No registration or identity verification required.</p>
    </div>
</div>     