@*@model I_main-btn-menu *@

<div class="dc-main-btn-menu">
    <a href="https://wallet.atomex.me/" class="dcg-btn dcg-btn_dark dcg-icon-right">Atomex Wallet</a>
    <a target="_blank" rel="nofollow" href="https://dex.atomex.me/" class="dcg-btn dcg-btn_color dcg-icon-right">DEX</a>
</div>