@*@model I_main-title-info *@

<div class="dc-main-title-info">
    <p class="dcg-link-text dc-main-title-info__caption">The most traded anonymous cross-chain DEX</p>
    <h1 class="dcg-h1">
        Exchange between BTC, ETH and more anonymously.
        No intermediaries.
    </h1>
    <div class="dc-main-title-info__download">
        @await Html.PartialAsync("_DownloadBtn")
        <p class="dc-main-title-info__warning">No registration or identity verification required.</p>
    </div>
</div>    