@model CTextBlockVM

<div class="dc-main-title">
    <h1 class="dcg-h1 dc-main-title__caption">@Html.Raw(Model.title)</h1>
    <p class="dc-main-title__desc dcg-caption">@Html.Raw(Model.text)</p>
</div>