@*@model I_main-title *@

<div class="dc-main-title">
    <h1 class="dcg-h1 dc-main-title__caption">Cryptocurrency pairs available for exchange</h1>
    <p class="dc-main-title__desc dcg-caption">All Cryptocurrency pairs available for exchange in Atomex apps and Atomex DEX</p>
</div>