@*@model I_main-menu *@

<nav class="dc-main-menu">
    <ul>
        <li><a asp-controller="Home">Wallet</a></li>
        <li><a asp-controller="Coins">Coins</a></li>
        <li><a asp-controller="CoinPairs">Coin Pairs</a></li>
        <li><a href="#" class="dcg-icon-right">Docs</a></li>
        <li><a href="#">Downloads</a></li>
    </ul>
</nav>