@inject IConfiguration conf
@model List<(string Url, string Title)>
@{
    string continuity = "";

    foreach(var pair in Context.Request.Query)
        if(pair.Key != "page")
            continuity += (pair.Value == "" || pair.Value == "#") ? "" : $"&{pair.Key}={pair.Value}";

    string current_page = Context.Request.Query.ContainsKey("page") ? Context.Request.Query["page"] : "1";
    int current_page_num = int.Parse(current_page);
}
@if (Model.Count > 1)
{
    <div class="dc-pagination">
        @if (current_page_num > 1)
        {
            <a class="dc-pagination__prev dcg-caption" href="?page=@(current_page_num - 1)@continuity"><img src="/images/arrow-right-grey.svg"/>Prev</a>
        }

        <ul class="dc-pagination__list">
            @foreach ((string Url, string Title) item in Model)
            {
                if (item.Title == current_page)
                {
                    <li class="dc-pagination__list-item-wrapper">
                        <span class="dc-pagination__item dc-pagination__item_active dcg-caption">
                            @item.Title
                        </span>
                    </li>
                }
                else
                {
                    <li class="dc-pagination__list-item-wrapper">
                        <a href="@(item.Url + continuity)" class="dc-pagination__item dcg-caption">
                            @item.Title
                        </a>
                    </li>
                }
            }
        </ul>

        @if (current_page_num < Model.Count - 1)
        {
            <a class="dc-pagination__next dcg-caption" href="?page=@(current_page_num + 1)@continuity">Next<img src="/images/arrow-right-grey.svg"/></a>
        }
    </div>
}

