// /*.....................................*/
// /* TEMPLATE: pagination */
.dc-pagination {
    margin-top: 32px;
    float: right;
    color: rgba(221, 234, 250, 0.92);

    &__prev {
        margin-right: 20px;
        color: rgba(196, 222, 255, 0.72);

        img {
            transform: rotate(180deg);
            margin-right: 8px;
        }
    }

    &__list {
        display: inline-block;
    }

    &__list-item-wrapper {
        display: inline-block;
        margin-right: 20px;
        color: rgba(196, 222, 255, 0.72);
    }

    &__next {
        color: rgba(196, 222, 255, 0.72);

        img {
            margin-left: 8px;
        }
    }

    &__item {
        line-height: 44px;

        &_active {
            display: inline-block;
            border: 0px solid;
            background-color: rgba(196, 222, 255, 0.1);
            border-radius: 50%;
            width: 44px;
            height: 44px;
            text-align: center;
        }
    }

    &__btn-next {
        display: inline-block;
        cursor: pointer;
    }

    @include media-breakpoint-down (sm) {
        &__prev {
            display: none;
        }

        &__next {
            display: none;
        }

    }
}
    // /* /TEMPLATE: pagination */
    // /*.....................................*/
