// /*.....................................*/
// /* TEMPLATE: pairs-table */
.dc-pairs-table {
    overflow-x: auto;
    width: 100%;

    .dcg-table {
        min-width: 100%;
        margin-top: 24px;

        &__th {
            margin: 13px 0px 13px 0px;
            text-align: start;
            color: rgba(221, 234, 250, 0.92);
            line-height: 26px;
        }

        &__th:first-child {
            margin: 13px 35px 13px 16px;
        }

        &__th:last-child {
        }

        &__td {
            white-space: nowrap;
        }

        &__td:first-child {
            margin-left: 16px;
            margin-right: 35px;
        }

        &__td:last-child {
            padding: 13px 0px;
        }

        &__first {
            width: 27%;
        }

        &__second {
            width: 10%;
        }

        &__three {
            width: 16%;
        }

        &__four {
            width: 17%;
        }

        &__five {
            width: 10%;
        }

        &__six {
            width: 16%;
        }
    }



    &__head {
        background: rgba(196, 222, 255, 0.1);
        border-radius: 8px;
    }

    &__item {
        cursor: pointer;

        & + & {
            border-style: solid;
            border-color: rgba(196, 222, 255, 0.1);
            border-width: 1px 0px 0px 0px;
        }
    }

    &__device {
        display: flex;
        margin-top: 3px;

        img {
            margin-right: 6px;
        }

        span {
            color: rgba(196, 222, 255, 0.72);
        }
    }

    &__coin {
        display: inline-block;

        &:first-child {
            margin-right: 45px;
        }
    }

    &__text-box {
        line-height: 56px;
        color: rgba(196, 222, 255, 0.72);
    }

    &__item:hover {
        background: rgba(196, 222, 255, 0.1);
        border: none;
        border-radius: 8px;

        & + .dc-pairs-table__item {
            border: none;
        }

        .dcg-table__td:first-child {
            border-radius: 8px 0px 0px 8px;
        }

        .dcg-table__td:last-child {
            border-radius: 0px 8px 8px 0px;
        }
    }

    &__coin-logo {
        display: inline-block;
        margin-right: 43px;

        .dc-coin:first-child {
            margin-right: 46px;
        }
    }


    @include media-breakpoint-down (lg) {
        //position: absolute;
        //overflow: hidden;
        &__coin-logo {
            display: block;
            margin-right: 0;
        }

        .dc-coin {
            padding: 5px 0;
        }
    }

    @include media-breakpoint-down (md) {
        //position: absolute;
        //overflow: hidden;
        padding-bottom: 20px;

        &__coin-logo {
            /*display: inline-block;*/
        }
    }

    @include media-breakpoint-down (sm) {
        //position: absolute;
        //overflow: hidden;
        padding-bottom: 20px;

        .dcg-table__first {
            width: 15%;
        }

        &__coin-logo {

            .dc-coin:first-child {
                margin-right: 0px;
            }
        }

        &__coin-logo {
            /*display: inline-block;*/
        }
    }
}
    // /* /TEMPLATE: pairs-table */
    // /*.....................................*/
