@*@model I_pairs-table *@

<table class="dc-pairs-table">
    <tr class="dc-pairs-table__head">
        <th>From - To</th>
        <th>Price</th>
        <th>Network Fee</th>
        <th>Instant volume</th>
        <th>Traded  volume @await Html.PartialAsync("_TableOrderIcons")</th>
        <th>Availability</th>
    </tr>

    @for (int i = 0; i < 6; i++)
    {
        <tr class="dc-pairs-table__item">
            <td> 
                @await Html.PartialAsync("_Coin")
                @await Html.PartialAsync("_Coin")
            </td>

            <td><span>≈ $13.10580488</span></td>
            <td><span>$0.00968022</span></td>
            <td><span>83,862.9812 ETH</span></td>
            <td><span>$83,862.9812</span></td>
            <td><img src="/images/mobile.svg" alt="icon-mobile"/><span>apps</span></td> 
        </tr>
    }
</table>