@*@model I_popular-pairs *@

<div class="dc-popular-pairs">
    <h2 class="dcg-h2 dc-popular-pairs__title">Popular exchange pairs</h2>
    @await Html.PartialAsync("_PairsTable")
    <a href="#" class="dcg-btn">View all crypto pairs</a> 
</div>