// /*.....................................*/
// /* TEMPLATE: popular-pairs */
.dc-popular-pairs {
    display: flex;
    flex-direction: column;
    align-items: center;

    &__title {
        text-align: center;
        margin-bottom: 40px;
    }

    &__button {
        margin-top: 40px;
        width: 221px;
    }

    @include media-breakpoint-down (sm) {
    } 
}
// /* /TEMPLATE: popular-pairs */
// /*.....................................*/
