@*@model I_report *@

<div class="dc-report">
    <div class="dc-report__img-wrapper">
        <img src="#" alt="" />
    </div>
    <div class="dc-report__content">
        <h3 class="dcg-h3">Atomic swap smart-contracts</h3>
        <a href="#" class="dc-report__more">View report</a>
    </div>
</div>