// /*.....................................*/
// /* TEMPLATE: report */
.dc-report {
    padding: 0px 6px;

    &__block {
        background: rgba(196, 222, 255, 0.1);
        border-radius: 12px;
        padding: 28px 0px 32px 32px;
    }

    &__img-wrapper {
        display: inline-block;
        //margin-right: 13px;
        img {
            background-repeat: no-repeat;
            overflow: hidden;
        }
    }

    &__content {
        display: inline-block;
        cursor: pointer;
    }

    &__more {
        margin-right: 8px;
    }

    @include media-breakpoint-down (lg) {
        &__block {
            display: flex;
            padding: 28px 40px 32px 25px;
            align-items: center;
        }

        &__img-wrapper {
            width: 58px;

            img {
                width: 58px;
                height: 40px;
            }
        }

        &__content {
            margin-left: 16px;
            width: 65%;
        }
    }
        @include media-breakpoint-down (md) {
            & {
                margin-bottom: 16px;
            }

            &__content {
                margin-left: 16px;
                
            }
        }
    
}
// /* /TEMPLATE: report */
// /*.....................................*/
