@inject CBlocksHelperVM BlocksHelper
@*model string[]*@

<div class="dc-report">
    <div class="dc-report__block">
        <div class="dc-report__img-wrapper">
            <img src="@BlocksHelper.GetUrl()images/arrows-big.svg" alt="arrow" />
        </div>
        <div class="dc-report__content">
            <p class="">Atomic swap smart-contracts</p>
            <a href="https://leastauthority.com/static/publications/LeastAuthority_Tezos_foundation_Atomex_Smart_Contracts_Audit_Report.pdf" class="dcg-link-text dc-report__more">View report</a>
            <img src="@BlocksHelper.GetUrl()images/arrow-right.svg" alt=""/>
        </div>
    </div>
</div> 