@*@model I_reports *@

<div class="dc-reports">
    <h2 class="dc-reports__title dcg-h2">Our Latest Audit Reports</h2>
    <div class="dc-reports__blocks">
        <div class="row"> 
            <div class="col">@await Html.PartialAsync("_Report")</div>
            <div class="col">@await Html.PartialAsync("_Report")</div>
        </div> 
    </div>
</div>