// /*.....................................*/
// /* TEMPLATE: reports */
.dc-reports {

    &__blocks {
        //padding: 0px 171px;
    }

    &__title {
        text-align: center;
        margin-bottom: 40px;
    }

    @include media-breakpoint-down (sm) {

    }
}
// /* /TEMPLATE: reports */
// /*.....................................*/
