@*@model I_soc-btns *@

<ul class="dc-soc-btns">
    <li><a href="#"><img src="#" alt="" /></a></li>
    <li><a href="#"><img src="#" alt="" /></a></li>
    <li><a href="#"><img src="#" alt="" /></a></li>
    <li><a href="#"><img src="#" alt="" /></a></li>
    <li><a href="#"><img src="#" alt="" /></a></li>
</ul>