@*@model I_sort *@

<div class="dc-sort">
    <select name="from" placeholder="sort">
        <option value="Price">Price</option>
        <option value="Network Fee">Network Fee</option>
        <option value="Instant volume">Instant volume</option>
    </select>
</div>