@model Dictionary<string, string>

<div class="dc-sort">
    <select name="sort" placeholder="sort">
        @foreach(var item in Model)
        {
            <option value="@item.Value">@item.Key</option>
        }
    </select>
</div>