@model (string current, Dictionary<string, string> list)

<div class="dc-sort">
    <select name="sort" placeholder="sort">
        @foreach(var item in Model.list)
        {
            <option value="@item.Value" selected="@(Model.current == item.Value)">@item.Key</option>
        }
    </select>
</div>