<span class="dc-table-order-icons">
    <span class="dc-table-order-icons__desc"><img src="/images/double-arrows-white.svg" alt="arrows"/></span>
    <span class="dc-table-order-icons__asc"><img src="#" alt=""/></span>
</span>