@*@model I_table-order-icons *@

<span class="dc-table-order-icons">
    <a href="#" class="dc-table-order-icons__desc"><img src="/images/double-arrows-white.svg" alt="arrows"/></a>
    <a href="#" class="dc-table-order-icons__asc"><img src="#" alt=""/></a>
</span>