@*@model I_test *@

<div class="dc-test">
    <div class="dcg-section">
        <p>body text</p>
        <h1 class="dcg-h1">Title-h1</h1>
        <h2 class="dcg-h2">Title-h2</h2>
        <h3 class="dcg-h3">Title-h3</h3>
        <div class="dcg-caption">Caption</div>
        <button class="dcg-btn_icon-left">Windows</button>
        <button class="dcg-btn_dark dcg-btn_icon-right">Atomex Wallet</button>
        <a href="#" class="dcg-btn dcg-btn_color dcg-btn_icon-right">Exchange</a>
        <a class="dcg-btn dcg-btn_light dcg-btn_icon-left">ButtonLight</a>

        <div></div>

        <button class="dcg-btn_icon-left" disabled>Windows</button>
        <button class="dcg-btn_dark dcg-btn_icon-right" disabled>Atomex Wallet</button>
        <a href="#" class="dcg-btn dcg-btn_color dcg-btn_icon-right" disabled>Exchange</a>
        <a class="dcg-btn dcg-btn_light dcg-btn_icon-left" disabled>ButtonLight</a>
    </div>
</div>