/*.....................................*/
/* CLASSES */
/* bootstrap */

/* /bootstrap */
/*.....................................*/
// test
.dcg-border {border: 1px solid red}
.dcg-no-border {border: none}

.dcg-bg-yellow { background: #EACA41; }
.dcg-cl-yellow { color: #EACA41; }

.dcg-bg-green { background: green; }
.dcg-cl-green { color: green; }

.dcg-bg-blue { background: blue; }
.dcg-cl-blue { color: blue; }


.dcg-bg-basic {background: #051429;}
.dcg-cl-basic {color: #051429;}

.dcg-bg-btn {background: #1E3E93;}
.dcg-cl-btn {color: #1E3E93;}

.dcg-bg-selection {background: #3293F1;}
.dcg-cl-selection {color: #3293F1;}
// /test
/*.....................................*/
html, body {}

* {
    box-sizing: border-box;
}

body {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 17px;
    line-height: 26px;
    background: #090E15;
    color: rgba(221, 234, 250, 0.92);

    @include media-breakpoint-down (sm) {
    }
}

ul, li {

}

a {
    cursor: pointer;
    text-decoration: none;

    &:hover {
        text-decoration: none;
    }

    @include media-breakpoint-down (sm) {
    }
}
/*.....................................*/
/* Стили для всех заголовков */
@include dc-titles {

    @include media-breakpoint-down (sm) {

    }
}

.dcg-h1 {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 48px;
    line-height: 58px;
    color: rgba(221, 234, 250, 0.92);

    @include media-breakpoint-down (md) {
        font-size: 42px;
        line-height: 50px;
    }

    @include media-breakpoint-down (xs) {
        font-size: 32px;
        line-height: 38px;
    }
}

.dcg-h2 {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 38px;
    line-height: 48px;
    color: rgba(221, 234, 250, 0.92);
    letter-spacing: 0.02em;

    @include media-breakpoint-down (xs) {
        font-size: 28px;
        line-height: 34px;
    }
}

.dcg-h3 {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 26px;
    line-height: 32px;
    color: rgba(221, 234, 250, 0.92);
    letter-spacing: 0.02em;

    @include media-breakpoint-down (xs) {
        font-size: 24px;
        line-height: 30px;
    }
}

.dcg-h4 {
    font-family: 'Nunito';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 22px;

    @include media-breakpoint-down (sm) {
    }
}
.dcg-h5 {
    font-family: 'Nunito';
    font-size: 16px;
    font-weight: 400;
    line-height: 22px;

    @include media-breakpoint-down (sm) {
    }
}
/*.....................................*/
/* button, [type="button"], [type="submit"], [type="reset"], .dcg-btn */
@include dc-btns {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 17px;
    line-height: 26px;
    color: rgba(221, 234, 250, 0.92);
    background: rgba(196, 222, 255, 0.16);
    border-radius: 8px;
    border-style: none;
    display: inline-block;
    vertical-align: middle;
    padding: 15px 20px 17px;
    letter-spacing: 0.01em;
    transition: all 200ms;

    &:active {
        background: rgba(196, 222, 255, 0.16);
    }

    &:hover {
        background: rgba(196, 222, 255, 0.32);
    }

    &[disabled] {
        background: rgba(196, 222, 255, 0.04);
        color: rgba(196, 222, 255, 0.32);
        cursor: auto;
    }

    &.dcg-btn_light {
        background: rgba(196, 222, 255, 0.24);
        box-shadow: 8px 13px 20px rgba(15, 6, 41, 0.22), inset 0px -1px 2px rgba(135, 103, 226, 0.07);
        border-radius: 12px;
        padding: 16px 32px;

        &:active {
            background: rgba(196, 222, 255, 0.16);
        }

        &:hover {
            background: rgba(196, 222, 255, 0.32);
        }

        &[disabled] {
            background: rgba(196, 222, 255, 0.04);
            color: rgba(196, 222, 255, 0.32);
            cursor: auto;
        }
    }

    &.dcg-btn_dark {
        background: rgba(196, 222, 255, 0.1);
        line-height: 24px;
        padding: 12px 24px 14px;

        &:active {
            background: rgba(196, 222, 255, 0.1);
        }

        &:hover {
            background: rgba(196, 222, 255, 0.32);
        }

        &[disabled] {
            background: rgba(196, 222, 255, 0.04);
            color: rgba(196, 222, 255, 0.32);
            cursor: auto;
        }
    }

    &.dcg-btn_color {
        background: #1E3E93;
        line-height: 24px;
        padding: 12px 24px 14px;

        &:active {
            background: #0F3088;
        }

        &:hover {
            background: #2762BD;
            color: rgba(221, 234, 250, 0.92);
        }

        &[disabled] {
            background: rgba(196, 222, 255, 0.04);
            color: rgba(196, 222, 255, 0.32);
            cursor: auto;
        }
    }

    &.dcg-btn_big {
    }

    &.dcg-btn_small {

        svg {
        }

        &:hover {
        }
    }

    &.dcg-btn_pag {
    }

    &.dcg-btn_pag-active {
    }

    &.dcg-btn_pag-dotts {
    }


    @include media-breakpoint-down (xs) {
        &.dcg-btn_big {
        }
    }
}
/* /button, [type="button"], [type="submit"], [type="reset"], .ssg-button */
/*.....................................*/
/* [type="text"], [type="email"], [type="password"], textarea, select */
@include dc-inps {
    border-radius: 7px;
    background: #F0F0F0;
    text-align: left;
    padding: 11px 12px 10px 20px;
    height: 40px;
    border: 0;

    &::-webkit-input-placeholder {
    }

    &::-moz-placeholder {
    }

    &:-moz-placeholder {
    }

    &:-ms-input-placeholder {
    }

    &:focus {
    }

    &.dcg-input_light {

        &:focus {
        }
    }

    &.dcg-input_dark {

        &:focus {
        }
    }

    &.dcg-input_color {

        &:focus {
        }
    }

    &.dcg-input_big {
    }

    &.dcg-input_middle {
    }

    &.dcg-input_small {
    }

    @include media-breakpoint-down (md) {
        
    }
}

textarea {}
/* /[type="text"], [type="email"], [type="password"], textarea, select */
/*.....................................*/
/* section - блоки сайта */
.dcg-section {
    background: #051429;

    &_padding {
        padding: 46px 94px 79px 80px;
    }

    &_breadcrumbs {
        padding: 60px 0px 80px 80px;
    } 
    
    & + & {
    }

    &_dark {
    }

    &_gray {
    }

    &_light {
    }

    &_clr {
    }

    &_alert {
    }

    &_error {
    }
}
/* /section */
/*.....................................*/
/* common */
/*.....................................*/
.dcg-active {
    color: #0FD4E2;
}
/*.....................................*/
.dcg-caption {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 22px;
}
/*.....................................*/
.dcg-secondary-clr {
    color: #00D7CB;
}
/*.....................................*/
.dcg-icon-left {
    &::before {
        content: "";
        background: url(../images/windows-brands.svg);
        width: 20px;
        height: 20px;
        display: inline-block;
        background-size: 100%;
        vertical-align: middle;
    }
}

.dcg-icon-right {
    &::after {
        content: "";
        background: url(../images/window-open.svg);
        width: 12px;
        height: 12px;
        display: inline-block;
        background-size: 100%;
        vertical-align: middle;
        margin-left: 11px;
    }
}
/*.....................................*/
/* /common */
/* /CLASSES */
/*------------------------------------------------------------*/
