/*.....................................*/
/* CLASSES */
/* bootstrap */

/* /bootstrap */
/*.....................................*/
// test
.dcg-border {border: 1px solid red}
.dcg-no-border {border: none}

.dcg-bg-yellow { background: #EACA41; }
.dcg-cl-yellow { color: #EACA41; }

.dcg-bg-green { background: green; }
.dcg-cl-green { color: green; }

.dcg-bg-blue { background: blue; }
.dcg-cl-blue { color: blue; }


.dcg-bg-basic {background: #051429;}
.dcg-cl-basic {color: #051429;}

.dcg-bg-btn {background: #1E3E93;}
.dcg-cl-btn {color: #1E3E93;}

.dcg-bg-selection {background: #3293F1;}
.dcg-cl-selection {color: #3293F1;}

.dcg-cl-secondary {color: #00D7CB;}
// /test
/*.....................................*/
html, body {}

* {
    box-sizing: border-box;
}

body {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 17px;
    line-height: 26px;
    background: #051429;
    color: rgba(221, 234, 250, 0.92);

    @include media-breakpoint-down (sm) {
    }
}

ul, li {

}

a {
    cursor: pointer;
    text-decoration: none;

    &:hover {
        text-decoration: none;
    }

    @include media-breakpoint-down (sm) {
    }
}
/*.....................................*/
/* Стили для всех заголовков */
@include dc-titles {

    @include media-breakpoint-down (sm) {

    }
}

.dcg-h1 {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 48px;
    line-height: 58px;
    color: rgba(221, 234, 250, 0.92);

    @include media-breakpoint-down (md) {
        font-size: 42px;
        line-height: 50px;
    }

    @include media-breakpoint-down (xs) {
        font-size: 32px;
        line-height: 38px;
    }
}

.dcg-h2 {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 38px;
    line-height: 48px;
    color: rgba(221, 234, 250, 0.92);
    letter-spacing: 0.02em;

    @include media-breakpoint-down (xs) {
        font-size: 28px;
        line-height: 34px;
    }
}

.dcg-h3 {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 26px;
    line-height: 32px;
    color: rgba(221, 234, 250, 0.92);
    letter-spacing: 0.02em;

    @include media-breakpoint-down (xs) {
        font-size: 24px;
        line-height: 30px;
    }
}

.dcg-h4 {
    font-family: 'Nunito';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 22px;

    @include media-breakpoint-down (sm) {
    }
}
.dcg-h5 {
    font-family: 'Nunito';
    font-size: 16px;
    font-weight: 400;
    line-height: 22px;

    @include media-breakpoint-down (sm) {
    }
}
/*.....................................*/
/* button, [type="button"], [type="submit"], [type="reset"], .dcg-btn */
@include dc-btns {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 17px;
    line-height: 26px;
    color: rgba(221, 234, 250, 0.92);
    background: rgba(196, 222, 255, 0.16);
    border-radius: 8px;
    border-style: none;
    display: inline-block;
    vertical-align: middle;
    padding: 15px 20px 17px;
    letter-spacing: 0.01em;
    transition: all 200ms;
    text-align: center;
    transition-property: border-radius;
    transition-delay: 300ms;


    &:active {
        background: rgba(196, 222, 255, 0.16);
    }

    &:hover {
        background: rgba(196, 222, 255, 0.32);
    }

    &[disabled] {
        background: rgba(196, 222, 255, 0.04);
        color: rgba(196, 222, 255, 0.32);
        cursor: auto;
    }

    &.dcg-btn_big-padding {
        padding: 15px 95px 10px 95px;
        margin-bottom: 16px;
        display: none;

        @include media-breakpoint-down (lg) {
            & {
                display: inline-block;
            }
        }
    }

    &.dcg-btn_light {
        background: rgba(196, 222, 255, 0.24);
        box-shadow: 8px 13px 20px rgba(15, 6, 41, 0.22), inset 0px -1px 2px rgba(135, 103, 226, 0.07);
        border-radius: 12px;
        padding: 16px 32px;

        &:active {
            background: rgba(196, 222, 255, 0.16);
        }

        &:hover {
            background: rgba(196, 222, 255, 0.32);
        }

        &[disabled] {
            background: rgba(196, 222, 255, 0.04);
            color: rgba(196, 222, 255, 0.32);
            cursor: auto;
        }
    }

    &.dcg-btn_dark {
        background: rgba(196, 222, 255, 0.1);
        line-height: 24px;
        padding: 12px 24px 14px;

        &:active {
            background: rgba(196, 222, 255, 0.1);
        }

        &:hover {
            background: rgba(196, 222, 255, 0.32);
        }

        &[disabled] {
            background: rgba(196, 222, 255, 0.04);
            color: rgba(196, 222, 255, 0.32);
            cursor: auto;
        }
    }

    &.dcg-btn_color {
        background: #1E3E93;
        line-height: 24px;
        padding: 14px 24px 14px;

        &:active {
            background: #0F3088;
        }

        &:hover {
            background: #2762BD;
            color: rgba(221, 234, 250, 0.92);
        }

        &[disabled] {
            background: rgba(196, 222, 255, 0.04);
            color: rgba(196, 222, 255, 0.32);
            cursor: auto;
        }
    }

    &.dcg-btn_transparent {
        background-color: rgba(196, 222, 255, 0);
        border: 1px solid rgba(196, 222, 255, 0.16);
        border-radius: 8px;
    }

    &.dcg-btn_big {
    }

    &.dcg-btn_small {

        svg {
        }

        &:hover {
        }
    }

    &.dcg-btn_pag {
    }

    &.dcg-btn_pag-active {
    }

    &.dcg-btn_pag-dotts {
    }



    @include media-breakpoint-down (xs) {
        &.dcg-btn_big {
        }
    }
}
/* /button, [type="button"], [type="submit"], [type="reset"], .ssg-button */
/*.....................................*/
/* [type="text"], [type="email"], [type="password"], textarea, select */
@include dc-inps {
    border-radius: 7px;
    background: #F0F0F0;
    text-align: left;
    padding: 11px 12px 10px 20px;
    height: 40px;
    border: 0;

    &::-webkit-input-placeholder {
    }

    &::-moz-placeholder {
    }

    &:-moz-placeholder {
    }

    &:-ms-input-placeholder {
    }

    &:focus {
    }

    &.dcg-input_light {

        &:focus {
        }
    }

    &.dcg-input_dark {

        &:focus {
        }
    }

    &.dcg-input_color {

        &:focus {
        }
    }

    &.dcg-input_big {
    }

    &.dcg-input_middle {
    }

    &.dcg-input_small {
    }

    @include media-breakpoint-down (md) {
        
    }
}

textarea {}
/* /[type="text"], [type="email"], [type="password"], textarea, select */
/*.....................................*/
/* section - блоки сайта */
.dcg-section {
    background: #051429;

    &_padding-heading {
        padding: 50px 94px 85px 80px;
    }

    &_padding-small {
        padding: 65px 64px 75px 70px;
    }

    &_padding-big {
        padding: 95px 150px 95px 150px;
    }

    &_light-bottom-left {
        background-image: url("../images/background-main.png");
        background-repeat: no-repeat;
        background-size: 100% 100%;
    }

    &_light-left {
        background-image: url("../images/background-left.png");
        background-repeat: no-repeat;
        background-size: 100% 100%;
    }

    &_border-bottom {
        border-width: 0px 0px 1px 0px;
        border-color: rgba(196, 222, 255, 0.12);
        border-style: solid;
    }

    &_mini {
        height: 435px;
    }

    &_hidden {
        overflow-x: clip;
    }

    & + & {
    }

    &_dark {
    }

    &_gray {
    }

    &_light {
    }

    &_clr {
    }

    &_alert {
    }

    &_error {
    }

    @include media-breakpoint-down (lg) {
        &_padding-heading {
            padding: 50px 30px 30px 30px;
        }

        &_padding-small {
            padding: 48px 32px 48px 32px;
        }

        &_padding-big {
            padding: 76px 32px 76px 32px;
        }

        &_mini {
            height: 445px;
        }
    }

    @include media-breakpoint-down (md) {
        &_padding-heading {
            padding: 32px 24px 20px 24px;
        }

        &_padding-small {
            padding: 48px 32px 48px 32px;
        }

        &_padding-big {
            padding: 76px 32px 76px 32px;
        }
    }

    @include media-breakpoint-down (sm) {
        &_mobile-height {
            height: 850px;
        }

        &_padding-small {
            padding: 40px 15px 40px 15px;
        }

        &_padding-heading {
            padding: 32px 14px 20px 14px;
        }
    }
}
/* /section */
/*.....................................*/
/* common */
/*.....................................*/
.dcg-caption {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 22px;

    &_color {
        color: rgba(196, 222, 255, 0.72);
    }
}
/*.....................................*/
.dcg-icon-left {
    &::before {
        content: "";
        background: url(../images/windows-brands.svg);
        width: 20px;
        height: 20px;
        display: inline-block;
        background-size: 100%;
        vertical-align: middle;
    }
}
/*.....................................*/
.dcg-icon-right {
    &::after {
        content: "";
        background: url(../images/window-open.svg);
        width: 12px;
        height: 12px;
        display: inline-block;
        background-size: 100%;
        vertical-align: middle;
        margin-left: 11px;
    }
}
/*.....................................*/
.dcg-link-text {
    color: #00D7CB;
    cursor: pointer;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    letter-spacing: 0.01em;
}
/*.....................................*/
.dcg-change {
    &_sub {
        color: #E1457C;
    }

    &_sup {
        color: #00D7CB;
    }
}
/*.....................................*/
.margin-decorative {
    display: block;

    @include media-breakpoint-down (xl) {
        & {
            margin-top: 50px;
        }
    }

    @include media-breakpoint-down (lg) {
        & {
            margin-top: 80px;
        }
    }

    @include media-breakpoint-down (md) {
        & {
            margin-top: 50px;
        }
    }

    @include media-breakpoint-down (sm) {
        & {
            margin-top: 330px;
        }
    }
}
/*.....................................*/
.dcg-pairs-block {
    display: inline-block;
}
/*.....................................*/
.dcg-button-block {
    display: inline-block;

    @include media-breakpoint-down (lg) {
        & {
            display: none;
        }
    }
}
/*.....................................*/
.dcg-main-botton-link {
    display: inline-block;
    
    &:not(:last-child){
        margin-right: 16px;
    }
}
/*.....................................*/
.dcg-mobile-margin {
    margin-bottom: 800px;
}
.dcg-main-botton-link-block {
    display: none;
    @include media-breakpoint-down (sm) {
        & {
            margin-bottom: 20px;
        }
    }
}
/*.....................................*/
.dcg-opened {
    .dcg-btn {
        border-radius: 8px 8px 8px 0px;
        transition-property: none;
    }
}
/*.....................................*/
.dcg-table {
    &__tr {
        display: flex;
        align-items: center;
        min-width: 1148px;
    }

    &__ti {
    }

    &__th {
    }

    &__td {
    }
}
/* /common */
/* /CLASSES */
/*------------------------------------------------------------*/
