// /*.....................................*/
// /* TEMPLATE: benefit */
.dc-benefit {

    @include media-breakpoint-down (sm) {

    }
}
// /* /TEMPLATE: benefit */
// /*.....................................*/

// /*.....................................*/
// /* TEMPLATE: benefits */
.dc-benefits {

    @include media-breakpoint-down (sm) {

    }
}
// /* /TEMPLATE: benefits */
// /*.....................................*/

// /*.....................................*/
// /* TEMPLATE: breadcrumbs */
.dc-breadcrumbs {

    @include media-breakpoint-down (sm) {

    }
}
// /* /TEMPLATE: breadcrumbs */
// /*.....................................*/

// /*.....................................*/
// /* TEMPLATE: coin */
.dc-coin {

    @include media-breakpoint-down (sm) {

    }
}
// /* /TEMPLATE: coin */
// /*.....................................*/

// /*.....................................*/
// /* TEMPLATE: coin-desc */
.dc-coin-desc {

    @include media-breakpoint-down (sm) {

    }
}
// /* /TEMPLATE: coin-desc */
// /*.....................................*/

// /*.....................................*/
// /* TEMPLATE: coin-info */
.dc-coin-info {

    @include media-breakpoint-down (sm) {

    }
}
// /* /TEMPLATE: coin-info */
// /*.....................................*/

// /*.....................................*/
// /* TEMPLATE: coins-line */
.dc-coins-line {

    @include media-breakpoint-down (sm) {

    }
}
// /* /TEMPLATE: coins-line */
// /*.....................................*/

// /*.....................................*/
// /* TEMPLATE: coins-table */
.dc-coins-table {

    @include media-breakpoint-down (sm) {

    }
}
// /* /TEMPLATE: coins-table */
// /*.....................................*/

// /*.....................................*/
// /* TEMPLATE: copyright */
.dc-copyright {

    @include media-breakpoint-down (sm) {

    }
}
// /* /TEMPLATE: copyright */
// /*.....................................*/

// /*.....................................*/
// /* TEMPLATE: download-btn */
.dc-download-btn {

    @include media-breakpoint-down (sm) {

    }
}
// /* /TEMPLATE: download-btn */
// /*.....................................*/

// /*.....................................*/
// /* TEMPLATE: download-wallet */
.dc-download-wallet {

    @include media-breakpoint-down (sm) {

    }
}
// /* /TEMPLATE: download-wallet */
// /*.....................................*/

// /*.....................................*/
// /* TEMPLATE: exchange-widget */
.dc-exchange-widget {

    @include media-breakpoint-down (sm) {

    }
}
// /* /TEMPLATE: exchange-widget */
// /*.....................................*/

// /*.....................................*/
// /* TEMPLATE: faq */
.dc-faq {

    @include media-breakpoint-down (sm) {

    }
}
// /* /TEMPLATE: faq */
// /*.....................................*/

// /*.....................................*/
// /* TEMPLATE: filter */
.dc-filter {

    @include media-breakpoint-down (sm) {

    }
}
// /* /TEMPLATE: filter */
// /*.....................................*/

// /*.....................................*/
// /* TEMPLATE: footer */
.dc-footer {

    @include media-breakpoint-down (sm) {

    }
}
// /* /TEMPLATE: footer */
// /*.....................................*/

// /*.....................................*/
// /* TEMPLATE: footer-desc */
.dc-footer-desc {

    @include media-breakpoint-down (sm) {

    }
}
// /* /TEMPLATE: footer-desc */
// /*.....................................*/

// /*.....................................*/
// /* TEMPLATE: footer-menu */
.dc-footer-menu {

    @include media-breakpoint-down (sm) {

    }
}
// /* /TEMPLATE: footer-menu */
// /*.....................................*/

// /*.....................................*/
// /* TEMPLATE: footer-menu-link */
.dc-footer-menu-link {

    @include media-breakpoint-down (sm) {

    }
}
// /* /TEMPLATE: footer-menu-link */
// /*.....................................*/

// /*.....................................*/
// /* TEMPLATE: graph-widget */
.dc-graph-widget {

    @include media-breakpoint-down (sm) {

    }
}
// /* /TEMPLATE: graph-widget */
// /*.....................................*/

// /*.....................................*/
// /* TEMPLATE: header */
.dc-header {

    @include media-breakpoint-down (sm) {

    }
}
// /* /TEMPLATE: header */
// /*.....................................*/

// /*.....................................*/
// /* TEMPLATE: highlight */
.dc-highlight {

    @include media-breakpoint-down (sm) {

    }
}
// /* /TEMPLATE: highlight */
// /*.....................................*/

// /*.....................................*/
// /* TEMPLATE: highlights */
.dc-highlights {

    @include media-breakpoint-down (sm) {

    }
}
// /* /TEMPLATE: highlights */
// /*.....................................*/

// /*.....................................*/
// /* TEMPLATE: items-count-menu */
.dc-items-count-menu {

    @include media-breakpoint-down (sm) {

    }
}
// /* /TEMPLATE: items-count-menu */
// /*.....................................*/

// /*.....................................*/
// /* TEMPLATE: logo */
.dc-logo {

    @include media-breakpoint-down (sm) {

    }
}
// /* /TEMPLATE: logo */
// /*.....................................*/

// /*.....................................*/
// /* TEMPLATE: main-btn-menu */
.dc-main-btn-menu {
    
    .dcg-btn {

    }

    @include media-breakpoint-down (sm) {

    }
}
// /* /TEMPLATE: main-btn-menu */
// /*.....................................*/

// /*.....................................*/
// /* TEMPLATE: main-menu */
.dc-main-menu {

    ul {

    }

    li {
        
    }

    a {
        &:hover, &.dcg-active {

        }
    }

    @include media-breakpoint-down (sm) {

    }
}
// /* /TEMPLATE: main-menu */
// /*.....................................*/

// /*.....................................*/
// /* TEMPLATE: main-title */
.dc-main-title {

    @include media-breakpoint-down (sm) {

    }
}
// /* /TEMPLATE: main-title */
// /*.....................................*/

// /*.....................................*/
// /* TEMPLATE: main-title-info */
.dc-main-title-info {

    @include media-breakpoint-down (sm) {

    }
}
// /* /TEMPLATE: main-title-info */
// /*.....................................*/

// /*.....................................*/
// /* TEMPLATE: mob-main-menu */
.dc-mob-main-menu {

    @include media-breakpoint-down (sm) {

    }
}
// /* /TEMPLATE: mob-main-menu */
// /*.....................................*/

// /*.....................................*/
// /* TEMPLATE: multy-table */
.dc-multy-table {

    @include media-breakpoint-down (sm) {

    }
}
// /* /TEMPLATE: multy-table */
// /*.....................................*/

// /*.....................................*/
// /* TEMPLATE: pagination */
.dc-pagination {

    @include media-breakpoint-down (sm) {

    }
}
// /* /TEMPLATE: pagination */
// /*.....................................*/

// /*.....................................*/
// /* TEMPLATE: pairs-table */
.dc-pairs-table {

    @include media-breakpoint-down (sm) {

    }
}
// /* /TEMPLATE: pairs-table */
// /*.....................................*/

// /*.....................................*/
// /* TEMPLATE: popular-pairs */
.dc-popular-pairs {

    @include media-breakpoint-down (sm) {

    }
}
// /* /TEMPLATE: popular-pairs */
// /*.....................................*/

// /*.....................................*/
// /* TEMPLATE: report */
.dc-report {

    @include media-breakpoint-down (sm) {

    }
}
// /* /TEMPLATE: report */
// /*.....................................*/

// /*.....................................*/
// /* TEMPLATE: reports */
.dc-reports {

    @include media-breakpoint-down (sm) {

    }
}
// /* /TEMPLATE: reports */
// /*.....................................*/

// /*.....................................*/
// /* TEMPLATE: soc-btns */
.dc-soc-btns {

    @include media-breakpoint-down (sm) {

    }
}
// /* /TEMPLATE: soc-btns */
// /*.....................................*/

// /*.....................................*/
// /* TEMPLATE: sort */
.dc-sort {

    @include media-breakpoint-down (sm) {

    }
}
// /* /TEMPLATE: sort */
// /*.....................................*/

// /*.....................................*/
// /* TEMPLATE: test */
.dc-test {

    @include media-breakpoint-down (sm) {

    }
}
// /* /TEMPLATE: test */
// /*.....................................*/

// /*.....................................*/
// /* TEMPLATE: title-menu */
.dc-title-menu {

    @include media-breakpoint-down (sm) {

    }
}
// /* /TEMPLATE: title-menu */
// /*.....................................*/

/*.....................................*/
/* TEMPLATE: classes */
.dc-classes {
    // background: #e4e3e3;
    width: 1024px;
    margin: auto;
    section {
        text-align: center;
    }
    &__checkbox-wrapper {
        label {
            display: block;
        }
    }
    &__container {
        padding: 15px;
        text-align: center;
    }
    &__container-headline {
        text-align: center;
    }
    &__container-list {
        font-size: 20px;
    }
/*..................................... Buttons*/
.dcg-button {
    width: 150px;
    margin: 10px;
}
/*..................................... Inputs*/
.dcg-input {
    width: 200px;
    margin: 10px;
}
/*.....................................*/
    @include media-breakpoint-down (sm) {}
}
/* /TEMPLATE: classes */
/*.....................................*/

/*.....................................*/
/* TEMPLATE: _logo */
.dc-logo {}
/* /TEMPLATE: _logo */
/*.....................................*/

/*.....................................*/
/* TEMPLATE: _menu */
.dc-menu {

    display: flex;

    &__more {
        position: absolute;
        right: 5px;
        top: 0;
        display: flex;
        flex-direction: column;
        justify-content: center;
        height: 100%;

        &::after {
            display: block;

        }
    }

    a {
        display: block;
        text-decoration: none;
        white-space: nowrap;

        transition-property: background, color;
    }

    li {
        position: relative;

        &:hover {
            .dc-menu__more {
                &::after {
                }
            }

            >a {
            }

            >ul {
                display: block;
            }
        }
    }

    >li {

        >a {
        }

        ul {
            position: absolute;
            display: none;
            min-width: 100px;

            >li:last-child>a {
            }
        }

        >ul {
            top: 100%;
            left: 0;

            ul {
                left: 100%;
                top: 0;
            }
        }

        &:hover {
            >.dc-menu__more {
                transform: rotate(180deg);
            }

            >a {
            }
        }
    }
}
/* /TEMPLATE: _menu */
/*.....................................*/
