// /*.....................................*/
// /* TEMPLATE: benefit */
.dc-benefit {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 96px;

    &__text {
        display: inline-block;
        max-width: 600px;
    }

    &__title {
        margin-bottom: 16px;
        padding-right: 100px;
    }

    &__ad {
        font-family: 'Inter';
        font-style: normal;
        font-weight: 400;
        font-size: 17px;
        line-height: 26px;
        letter-spacing: 0.01em;
        color: rgba(196, 222, 255, 0.72);
        margin-bottom: 16px;
    }

    &__link-arrow {
        margin-left: 6px;
    } 
    
    &__link-text {
        font-family: 'Inter';
        font-style: normal;
        font-weight: 400;
        font-size: 17px;
        line-height: 26px;
        letter-spacing: 0.01em;
        color: #00D7CB;
    }

    &__img {
        background: rgba(30, 62, 147, 0.08);
        border-radius: 12px;
        width: 423px;
        height: 308px;
    }

    @include media-breakpoint-down (sm) {
    }
}
// /* /TEMPLATE: benefit */
// /*.....................................*/

// /*.....................................*/
// /* TEMPLATE: benefits */
.dc-benefits {
    padding: 128px 168px 29px 124px;

    .dc-benefit:nth-child(even) {

        .dc-benefit__text {
            order: 2;
            padding: 29px 22px 0px 60px;
        }

        .dc-benefit__img {
            order: 1;
        }
    }

    .dc-benefit:nth-child(odd) {

        .dc-benefit__text {
            padding: 38px 40px 0px 44px;
        }

        .dc-benefit__img {

        }
    }

    @include media-breakpoint-down (sm) {
    }
}
// /* /TEMPLATE: benefits */
// /*.....................................*/

// /*.....................................*/
// /* TEMPLATE: breadcrumbs */
.dc-breadcrumbs {

    @include media-breakpoint-down (sm) {

    }
}
// /* /TEMPLATE: breadcrumbs */
// /*.....................................*/

// /*.....................................*/
// /* TEMPLATE: coin */
.dc-coin {
    display: inline-flex;
    padding: 10px 0px;

    &__title {
        margin: 3px 0px 0px 7px;
    }

    @include media-breakpoint-down (sm) {
    }
}
// /* /TEMPLATE: coin */
// /*.....................................*/

// /*.....................................*/
// /* TEMPLATE: coin-desc */
.dc-coin-desc {

    @include media-breakpoint-down (sm) {

    }
}
// /* /TEMPLATE: coin-desc */
// /*.....................................*/

// /*.....................................*/
// /* TEMPLATE: coin-info */
.dc-coin-info {

    @include media-breakpoint-down (sm) {

    }
}
// /* /TEMPLATE: coin-info */
// /*.....................................*/

// /*.....................................*/
// /* TEMPLATE: coins-line */
.dc-coins-line {
    display: flex;
    justify-content: center;
    align-items: center;

    &__list {
        display: inline-block;
    }

    &__item {
        display: inline-block;
        margin: 22px 38px 22px 0px;
    }

    &__more {
        color: #00D7CB;
    }

    &__arrow {
        margin-left: 8px;
    }

    @include media-breakpoint-down (sm) {
    }
}
// /* /TEMPLATE: coins-line */
// /*.....................................*/

// /*.....................................*/
// /* TEMPLATE: coins-table */
.dc-coins-table {

    @include media-breakpoint-down (sm) {

    }
}
// /* /TEMPLATE: coins-table */
// /*.....................................*/

// /*.....................................*/
// /* TEMPLATE: copyright */
.dc-copyright {
    line-height: 20px;

    &__text {
        font-family: 'Inter';
        font-style: normal;
        font-weight: 400;
        font-size: 15px;
    }

    &__text:first-child {
        margin-right: 12px;
    }

    @include media-breakpoint-down (sm) {
    }
}
// /* /TEMPLATE: copyright */
// /*.....................................*/

// /*.....................................*/
// /* TEMPLATE: download-btn */
.dc-download-btn {
    &__select {
        display: inline-block;
    }

    &__caption {
        display: inline-block;
    } 
    
    @include media-breakpoint-down (sm) {
    }
}
// /* /TEMPLATE: download-btn */
// /*.....................................*/

// /*.....................................*/
// /* TEMPLATE: download-wallet */
.dc-download-wallet {

    @include media-breakpoint-down (sm) {
    }
}
// /* /TEMPLATE: download-wallet */
// /*.....................................*/

// /*.....................................*/
// /* TEMPLATE: exchange-widget */
.dc-exchange-widget {
    float: right;

    &__block {
        background-color: #0D274D;
        border-radius: 20px;
        padding: 51px 58px 40px 54px;
        display: inline-block;
    }

    &__coin {
        border: 1px solid rgba(196, 222, 255, 0.16);
        border-radius: 16px;
        padding: 28px 24px 18px 20px;
        margin-bottom: 12px;
    }

    &__logo {
        display: inline-flex;
        background: rgba(196, 222, 255, 0.16);
        border-radius: 10px;
        padding: 10px 16px;
        margin: 3px 0px 13px 0px;
        line-height: 20px;
    }

    &__img {
        height: 20px;
        width: 20px;
        margin-right: 8px;
    }

    &__numbers {
        display: inline-block;
        float: right;
    }

    &__amount {
        line-height: 32px;
        text-align: end;
        font-family: 'Inter';
        font-style: normal;
        font-weight: 400;
        font-size: 22px;
        color: rgba(196, 222, 255, 0.97);
        margin-bottom: 4px;
    }

    &__price {
        font-family: 'Inter';
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 20px;
        color: rgba(196, 222, 255, 0.5);
        letter-spacing: 0.2px;
    }

    &__button {
        margin-top: 16px;
        padding: 12px 183px 16px 183px;
        font-family: 'Inter';
        font-style: normal;
        font-weight: 400;
        font-size: 18px;
        line-height: 24px;
        color: rgba(196, 222, 255, 0.97);
    }

    &__coins {
        position: relative;
    }

    &__arrows {
        position: absolute;
        right: -32px;
        top: 0px;
        bottom: 0px;
        margin-top: auto;
        margin-bottom: auto;
    }

    &__text {
        font-family: 'Inter';
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 20px;
        color: rgba(196, 222, 255, 0.5);
        letter-spacing: 0.2px;

        span {
            margin-right: 3px;
        }
    }

    &__info {
        img {
            margin-left: 3px;
        }
    }

    &__slash {
        color: rgba(196, 222, 255, 0.06);
    }

    &__button {
        border-radius: 12px;
    }

    @include media-breakpoint-down (sm) {
    }
}
// /* /TEMPLATE: exchange-widget */
// /*.....................................*/

// /*.....................................*/
// /* TEMPLATE: faq */
.dc-faq {

    @include media-breakpoint-down (sm) {

    }
}
// /* /TEMPLATE: faq */
// /*.....................................*/

// /*.....................................*/
// /* TEMPLATE: filter */
.dc-filter {

    @include media-breakpoint-down (sm) {

    }
}
// /* /TEMPLATE: filter */
// /*.....................................*/

// /*.....................................*/
// /* TEMPLATE: footer */
.dc-footer {
    * {
        color: rgba(196, 222, 255, 0.72);
    }

    &__wrap {
        padding: 64px 128px 64px 80px;
        background-color: #051429;
    }

    &__menu {
        display: flex;
        justify-content: end;
        gap: 99px;
    }

    .dc-logo {
        line-height: 12px;
        margin-bottom: 24px;
    }

    .dc-soc-btns {
        margin: 16px 0px 16px 0px;
    }

    @include media-breakpoint-down (sm) {
    }
}
// /* /TEMPLATE: footer */
// /*.....................................*/

// /*.....................................*/
// /* TEMPLATE: footer-desc */
.dc-footer-desc {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 22px;

    @include media-breakpoint-down (sm) {
    }
}
// /* /TEMPLATE: footer-desc */
// /*.....................................*/

// /*.....................................*/
// /* TEMPLATE: footer-menu */
.dc-footer-menu {
    width: 126px;

    li {
        line-height: 30px;
    }

    li:first-child {
        margin-top: 10px;
    }

    a {
        font-weight: 400;
        font-size: 15px;
        line-height: 22px;
    }

    @include media-breakpoint-down (sm) {
    }
}
// /* /TEMPLATE: footer-menu */
// /*.....................................*/

// /*.....................................*/
// /* TEMPLATE: graph-widget */
.dc-graph-widget {

    @include media-breakpoint-down (sm) {

    }
}
// /* /TEMPLATE: graph-widget */
// /*.....................................*/

// /*.....................................*/
// /* TEMPLATE: header */
.dc-header {

    &__wrap {
        padding: 15px 32px;
        background-color: #051429;
    }
    /*&__logo {
        display: flex;
        align-items: center;
        height: 100%;
    }*/
    .dc-logo {
        margin: 10px 0 0 0;
    }

    @include media-breakpoint-down (sm) {
    }
}
// /* /TEMPLATE: header */
// /*.....................................*/

// /*.....................................*/
// /* TEMPLATE: highlight */
.dc-highlight {
    padding: 0px 16px 0px 16px;

    @include media-breakpoint-down (sm) {

    }
}
// /* /TEMPLATE: highlight */
// /*.....................................*/
 
// /*.....................................*/
// /* TEMPLATE: highlights */
.dc-highlights {
    padding: 60px 64px 80px 64px;

    .dcg-caption {
        margin-top: 16px;
        color: rgba(196, 222, 255, 0.72);
    }

    @include media-breakpoint-down (sm) {
    }
} 
// /* /TEMPLATE: highlights */
// /*.....................................*/

// /*.....................................*/
// /* TEMPLATE: items-count-menu */
.dc-items-count-menu {

    @include media-breakpoint-down (sm) {

    }
}
// /* /TEMPLATE: items-count-menu */
// /*.....................................*/

// /*.....................................*/
// /* TEMPLATE: logo */
.dc-logo {
    display: inline-block;

    img{
        height: 30px;
        width: 148px;
    }
    @include media-breakpoint-down (sm) {

    }
}
// /* /TEMPLATE: logo */
// /*.....................................*/

// /*.....................................*/
// /* TEMPLATE: main-btn-menu */
.dc-main-btn-menu {
    display: flex;
    flex-direction: row;
    gap: 15px;
    justify-content: end;

    .dcg-btn {
    }

    @include media-breakpoint-down (sm) {
    }
}
// /* /TEMPLATE: main-btn-menu */
// /*.....................................*/

// /*.....................................*/
// /* TEMPLATE: main-menu */
.dc-main-menu {

    ul {
        display: flex;
        flex-direction: row;
        letter-spacing: 0.01em;
        gap: 32px;
        justify-content: end;
        padding: 14px 65px 0 0;
    }

    li::after {
        content: '';
        width: 0%;
        height: 3px;
        background: #00D7CB;
        border-radius: 2px;
        display: block;
        margin-top: 4px;
    }

    li:hover::after {
        transition: all 250ms;
        width: 100%;
    }

    a {

        &:hover, &.dcg-active {
            
        }

        &.dcg-icon-right::after {
            margin-left: 7px;
        }
    }


    @include media-breakpoint-down (sm) {
    }
}
// /* /TEMPLATE: main-menu */
// /*.....................................*/

// /*.....................................*/
// /* TEMPLATE: main-title */
.dc-main-title {

    @include media-breakpoint-down (sm) {

    }
}
// /* /TEMPLATE: main-title */
// /*.....................................*/

// /*.....................................*/
// /* TEMPLATE: main-title-info */
.dc-main-title-info {

    &__caption {
        font-family: 'Inter';
        font-style: normal;
        font-weight: 400;
        font-size: 15px;
        line-height: 22px;
        color: #00D7CB;
        margin-bottom: 16px;
    }

    &__download {
        margin-top: 40px;
    } 
    
    &__warning {
        font-family: 'Inter';
        font-style: normal;
        font-weight: 400;
        font-size: 15px;
        line-height: 22px;
        color: rgba(196, 222, 255, 0.72);
        margin-top: 16px;
    }

    @include media-breakpoint-down (sm) {
    }
}
// /* /TEMPLATE: main-title-info */
// /*.....................................*/

// /*.....................................*/
// /* TEMPLATE: mob-main-menu */
.dc-mob-main-menu {

    @include media-breakpoint-down (sm) {

    }
}
// /* /TEMPLATE: mob-main-menu */
// /*.....................................*/

// /*.....................................*/
// /* TEMPLATE: multy-table */
.dc-multy-table {

    @include media-breakpoint-down (sm) {

    }
}
// /* /TEMPLATE: multy-table */
// /*.....................................*/

// /*.....................................*/
// /* TEMPLATE: pagination */
.dc-pagination {

    @include media-breakpoint-down (sm) {

    }
}
// /* /TEMPLATE: pagination */
// /*.....................................*/

// /*.....................................*/
// /* TEMPLATE: pairs-table */
.dc-pairs-table {
    width: 100%;

    &__head {
        background: rgba(196, 222, 255, 0.1);

        th {
            padding: 13px 10px 13px 0px;
            text-align: start;
        }

        th:first-child {
            border-radius: 12px 0px 0px 12px;
            padding: 13px 10px 13px 10px;
        }

        th:last-child {
            border-radius: 0px 12px 12px 0px;
        }
    }

    &__item {
        td:first-child {
            padding-left: 17px;
            padding-top: 5px;
        }
    }

    &__text-box {
        line-height: 56px;
    }

    &__item:nth-child(2) {
    }

    @include media-breakpoint-down (sm) {
    }
}
// /* /TEMPLATE: pairs-table */
// /*.....................................*/

// /*.....................................*/
// /* TEMPLATE: popular-pairs */
.dc-popular-pairs {
    padding: 0px 64px 0px 64px;

    &__title {
        text-align: center;
        margin-bottom: 40px;
    } 
    
    @include media-breakpoint-down (sm) {
    }
}
// /* /TEMPLATE: popular-pairs */
// /*.....................................*/

// /*.....................................*/
// /* TEMPLATE: report */
.dc-report {
    padding: 0px 6px;

    &__block {
        background: rgba(196, 222, 255, 0.1);
        border-radius: 12px;
        padding: 28px 0px 32px 32px;
    }

    &__img-wrapper {
        display: inline-block;
        margin-right: 13px;
    }

    &__content {
        display: inline-block;
        cursor: pointer;
    }

    &__more {
        color: #00D7CB;
        margin-right: 8px;
    }

    @include media-breakpoint-down (sm) {
    }
}
// /* /TEMPLATE: report */
// /*.....................................*/

// /*.....................................*/
// /* TEMPLATE: reports */
.dc-reports {
    
    padding-top: 120px;

    &__blocks{
        padding: 0px 171px;
    }
    
    &__title{
        text-align: center;
        margin-bottom: 40px;
    }

    @include media-breakpoint-down (sm) {

    }
}
// /* /TEMPLATE: reports */
// /*.....................................*/

// /*.....................................*/
// /* TEMPLATE: soc-btns */
.dc-soc-btns {

    li {
        display: inline-block;
        line-height: 12px;
        padding: 10px;
    }

    li + li {
        margin-left: 12px;
    }

    a {
        display: inline-block;
        padding: 0px;
        line-height: 12px;
    }

    img {
        height: 24px;
        width: 24px;
    }



    @include media-breakpoint-down (sm) {
    }
}
// /* /TEMPLATE: soc-btns */
// /*.....................................*/

// /*.....................................*/
// /* TEMPLATE: sort */
.dc-sort {

    @include media-breakpoint-down (sm) {

    }
}
// /* /TEMPLATE: sort */
// /*.....................................*/

// /*.....................................*/
// /* TEMPLATE: table-order-icons */
.dc-table-order-icons {
    margin-left: 8px;

    &__asc {
        width: 9px;
        height: 12px;
    }

    @include media-breakpoint-down (sm) {
    }
}
// /* /TEMPLATE: table-order-icons */
// /*.....................................*/

// /*.....................................*/
// /* TEMPLATE: test */
.dc-test {

    @include media-breakpoint-down (sm) {

    }
}
// /* /TEMPLATE: test */
// /*.....................................*/

// /*.....................................*/
// /* TEMPLATE: title-menu */
.dc-title-menu {

    @include media-breakpoint-down (sm) {

    }
}
// /* /TEMPLATE: title-menu */
// /*.....................................*/

/*.....................................*/
/* TEMPLATE: classes */
.dc-classes {
    // background: #e4e3e3;
    width: 1024px;
    margin: auto;
    section {
        text-align: center;
    }
    &__checkbox-wrapper {
        label {
            display: block;
        }
    }
    &__container {
        padding: 15px;
        text-align: center;
    }
    &__container-headline {
        text-align: center;
    }
    &__container-list {
        font-size: 20px;
    }
/*..................................... Buttons*/
.dcg-button {
    width: 150px;
    margin: 10px;
}
/*..................................... Inputs*/
.dcg-input {
    width: 200px;
    margin: 10px;
}
/*.....................................*/
    @include media-breakpoint-down (sm) {}
}
/* /TEMPLATE: classes */
/*.....................................*/

/*.....................................*/
/* TEMPLATE: _logo */
.dc-logo {}
/* /TEMPLATE: _logo */
/*.....................................*/

/*.....................................*/
/* TEMPLATE: _menu */
.dc-menu {

    display: flex;

    &__more {
        position: absolute;
        right: 5px;
        top: 0;
        display: flex;
        flex-direction: column;
        justify-content: center;
        height: 100%;

        &::after {
            display: block;

        }
    }

    a {
        display: block;
        text-decoration: none;
        white-space: nowrap;

        transition-property: background, color;
    }

    li {
        position: relative;

        &:hover {
            .dc-menu__more {
                &::after {
                }
            }

            >a {
            }

            >ul {
                display: block;
            }
        }
    }

    >li {

        >a {
        }

        ul {
            position: absolute;
            display: none;
            min-width: 100px;

            >li:last-child>a {
            }
        }

        >ul {
            top: 100%;
            left: 0;

            ul {
                left: 100%;
                top: 0;
            }
        }

        &:hover {
            >.dc-menu__more {
                transform: rotate(180deg);
            }

            >a {
            }
        }
    }
}
/* /TEMPLATE: _menu */
/*.....................................*/
