// /*.....................................*/
// /* TEMPLATE: benefit */
.dc-benefit {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    &:not(:last-child) {
        margin-bottom: 96px;
    }

    &__text {
        display: inline-block;
        max-width: 600px;
        margin-top: 30px;
    }

    &__title {
        margin-bottom: 16px;
        padding-right: 100px;
    }

    &__ad {
        font-family: 'Inter';
        font-style: normal;
        font-weight: 400;
        font-size: 17px;
        line-height: 26px;
        letter-spacing: 0.01em;
        color: rgba(196, 222, 255, 0.72);
        margin-bottom: 16px;
    }

    &__link-arrow {
        margin-left: 6px;
        cursor: pointer;
    }

    &__link-text {
        font-size: 17px;
        line-height: 26px;
    }

    &__img {
        background: rgba(30, 62, 147, 0.08);
        border-radius: 12px;
        width: 423px;
        height: 308px;
        margin: 0px auto;

        img {
            display: none;
        }
    }

    @include media-breakpoint-down (xl) {
        &__text {
            display: inline-block;
            max-width: 450px;
        }
    }

    @include media-breakpoint-down (lg) {
        flex-wrap: wrap;

        &__text {
            display: inline-block;
            max-width: 100%;
            order: 2;
        }

        .dc-benefit__img {
            order: 1;
        }
    }
}
// /* /TEMPLATE: benefit */
// /*.....................................*/

// /*.....................................*/
// /* TEMPLATE: benefits */
.dc-benefits {

    .dc-benefit:nth-child(even) {

        .dc-benefit__text {
            order: 2;
            padding: 29px 22px 0px 60px;
        }

        .dc-benefit__img {
            order: 1;
        }
    }

    .dc-benefit:nth-child(odd) {

        .dc-benefit__text {
            padding: 38px 40px 0px 44px;
        }

        .dc-benefit__img {
        }
    }

    @include media-breakpoint-down (lg) {
        .dc-benefit:nth-child(odd) {

            .dc-benefit__text {
                padding: 0px;
                order: 2;
            }
        }

        .dc-benefit:nth-child(even) {

            .dc-benefit__text {
                padding: 0px;
                order: 2;
            }
        }
    }
}
// /* /TEMPLATE: benefits */
// /*.....................................*/

// /*.....................................*/
// /* TEMPLATE: breadcrumbs */
.dc-breadcrumbs {

    &__item {
        display: inline-block;
        color: rgba(196, 222, 255, 0.72);
    }

    &__item:not(:first-child)::before {
        content: '/';
        color: rgba(196, 222, 255, 0.32);
        margin-right: 8px;
        margin-left: 5px;
    }

    &__item:hover {
        color: rgba(196, 222, 255, 0.32);
    }

    &__item:last-child {
        color: rgba(196, 222, 255, 0.32);
    }

    @include media-breakpoint-down (sm) {
    }
}
// /* /TEMPLATE: breadcrumbs */
// /*.....................................*/

// /*.....................................*/
// /* TEMPLATE: coin */
.dc-coin {
    display: inline-flex;
    padding: 10px 0px;

    &__title {
        margin: 3px 0px 0px 7px;
    }

    &__img {
        height: 25px;
        width: 25px;
    }

    @include media-breakpoint-down (sm) {
    }
}
// /* /TEMPLATE: coin */
// /*.....................................*/

// /*.....................................*/
// /* TEMPLATE: coin-desc */
.dc-coin-desc {

    h2 {
        color: rgba(221, 234, 250, 0.92);
        margin-bottom: 32px;
    }

    &__text {
        column-count: 2;
        column-gap: 100px;
        color: rgba(196, 222, 255, 0.72);
    }

    @include media-breakpoint-down (sm) {
        &__text {
            column-count: 1;
        }
    }
}
// /* /TEMPLATE: coin-desc */
// /*.....................................*/

// /*.....................................*/
// /* TEMPLATE: coin-info */
.dc-coin-info {
    &__title {
        padding-bottom: 40px;
        border-width: 0px 0px 1px 0px;
        border-style: solid;
        border-color: rgba(196, 222, 255, 0.06);
        margin-bottom: 24px;
    }

    &__caption {
        color: rgba(196, 222, 255, 0.72);
    }

    &__value {
        color: rgba(221, 234, 250, 0.92);

        &_positive {
            color: #00D7CB;
        }
    }

    @include media-breakpoint-down (sm) {
    }
}
// /* /TEMPLATE: coin-info */
// /*.....................................*/

// /*.....................................*/
// /* TEMPLATE: coins-line */
.dc-coins-line {
    white-space: nowrap;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow-x: auto;

    &__list {
        display: inline-block;
        min-width: 1158px;
    }

    &__item {
        display: inline-block;
        margin: 22px 38px 22px 0px;
    }

    &__more {
        color: #00D7CB;
        display: block;
    }

    &__arrow {
        margin-left: 8px;
    }

    @include media-breakpoint-down (xl) {
        & {
            padding-left: 46px;
            padding-right: 46px;
            justify-content: start;
        }
    }

    @include media-breakpoint-down (lg) {
        ul {
            display: flex;
        }

        &__list {
            min-width: 1100px;
        }
    }

    @include media-breakpoint-down (md) {
        & {
            padding-left: 25px;
            padding-right: 25px;
        }

        &__list {
            min-width: 1100px;
        }
    }
}
// /* /TEMPLATE: coins-line */
// /*.....................................*/

// /*.....................................*/
// /* TEMPLATE: coins-table */
.dc-coins-table {
    width: 100%;
    margin-top: 34px;
    overflow: hidden;

    &__head {
        background: rgba(196, 222, 255, 0.1);

        th {
            padding: 13px 0px 13px 0px;
            text-align: start;
            color: rgba(221, 234, 250, 0.92);
        }

        th:first-child {
            border-radius: 8px 0px 0px 8px;
            padding: 13px 0px 13px 16px;
        }

        th:last-child {
            border-radius: 0px 8px 8px 0px;
            padding: 13px 114px 13px 0px;
        }
    }

    &__item {
        border-style: solid;
        border-color: rgba(196, 222, 255, 0.1);
        border-width: 0px 0px 1px 0px;

        td:first-child {
            padding-left: 17px;
            padding-top: 5px;
        }

        td:last-child {
            padding: 13px 0px;
        }
    }

    &__device {
        display: flex;

        img {
            margin-right: 6px;
        }

        span {
            color: rgba(196, 222, 255, 0.72);
        }
    }

    &__coin {
        display: inline-block;

        &:first-child {
            margin-right: 45px;
        }
    }

    &__text-box {
        line-height: 56px;
        color: rgba(196, 222, 255, 0.72);
    }

    &__item:hover {
        background: rgba(196, 222, 255, 0.1);
        border: none;

        td:first-child {
            border-radius: 8px 0px 0px 8px;
        }

        td:last-child {
            border-radius: 0px 8px 8px 0px;
        }
    }

    @include media-breakpoint-down (sm) {
    }
}
// /* /TEMPLATE: coins-table */
// /*.....................................*/

// /*.....................................*/
// /* TEMPLATE: copyright */
.dc-copyright {
    line-height: 20px;
    color: rgba(196, 222, 255, 0.32);
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;

    &__text {
    }

    &__text:not(:first-child) {
        margin-left: 16px;
    }

    &__link {
        border-width: 0px 0px 1px 0px;
        border-color: rgba(196, 222, 255, 0.32);
        border-style: solid;
        margin-left: 16px;
        cursor: pointer;
    }

    @include media-breakpoint-down (md) {
        &__text:first-child {
            display: block;
            margin-bottom: 15px;
        }
    }
}
// /* /TEMPLATE: copyright */
// /*.....................................*/

// /*.....................................*/
// /* TEMPLATE: download-btn */
.dc-download-btn {
    display: inline-flex;
    flex-direction: column;
    margin-bottom: 16px;
    box-shadow: 8px 13px 20px rgba(15, 6, 41, 0.22), inset 0px -1px 2px rgba(135, 103, 226, 0.07);

    &__select {
        width: 94px;
        background-color: rgba(196, 222, 255, 0.16);
        border-radius: 0px 0px 8px 8px;
        text-align: center;
        height: 0px; 
        transition: all 300ms;
    }

    &__logo:first-child {
        margin: 15px 0px;
        height: 0px;
        transition: all 300ms;
    }

    &__logo:last-child {
        margin-bottom: 15px;
        height: 0px;
        transition: all 300ms;
    }

    &__img {
        height: 0px;
        transition: all 300ms;
    }

    &__button {
        display: inline-flex; // ===========
        justify-content: center;
        padding: 17px 33px 17px 25px;
        position: relative;
        cursor: pointer;
    }

    &__value {
        display: inline-block;
        height: 24px; // ===========
        margin-right: 45px;
    }

    &__value::after {
        content: '';
        height: 100%;
        width: 1px;
        background-color: rgba(196, 222, 255, 0.2);
        display: inline-block;
        position: absolute;
        top: 0px;
        left: 93px;
    }

    &__caption {
        display: inline-block;
        font-family: 'Inter';
        font-style: normal;
        font-weight: 400;
        font-size: 17px;
        line-height: 26px;
        letter-spacing: 0.01em;
        color: rgba(221, 234, 250, 0.92);
        height: 24px; // ===========
    }

    .dc-download-btn__select:active {
        height: 100px;
        transition: all 300ms;

        .dc-download-btn__logo {
            height: 24px;
            transition: all 300ms;
        }

        .dc-download-btn__img {
            height: 24px;
            transition: all 300ms;
        }

        .dc-download-btn__button {
            background-color: red;
        }
    }

    @include media-breakpoint-down (sm) {
    }
}
// /* /TEMPLATE: download-btn */
// /*.....................................*/

// /*.....................................*/
// /* TEMPLATE: download-wallet */
.dc-download-wallet {

    &__text-small {
        font-family: 'Inter';
        font-style: normal;
        font-weight: 400;
        font-size: 17px;
        line-height: 26px;
        letter-spacing: 0.01em;
        color: rgba(221, 234, 250, 0.92);
        margin-bottom: 56px;
    }

    &__decorative-blocks {
        display: block;
        //position: relative;
        //height: 364px;
    }

    &__decorative-img {
        position: relative;
        top: 0px;
        right: -100px;
    }

    @include media-breakpoint-down (lg) {
        & {
            margin-top: 100px;
            margin-bottom: 100px;
        }

        &__decorative-img {
            position: relative;
            top: 0px;
            right: -100px;
            height: 400px;
            width: 1000px;
        }
    }

    @include media-breakpoint-down (md) {
        &__decorative-img {
            position: relative;
            top: 0px;
            right: -100px;
            height: 300px;
            width: 1300px;
        }

        &_wrapper-main {
            width: 100%;
            text-align: center;
        }

        & {
            margin-top: 50px;
            margin-bottom: 50px;
        }
    }

    @include media-breakpoint-down (sm) {
        &__decorative-img {
            position: relative;
            top: 0px;
            right: 0px;
            height: 250px;
            width: 1300px;
            margin-top: 20px;
        }
    }
}
// /* /TEMPLATE: download-wallet */
// /*.....................................*/

// /*.....................................*/
// /* TEMPLATE: exchange-widget */
.dc-exchange-widget {
    width: 100%;

    &__block {
        background-color: #0D274D;
        border-radius: 20px;
        padding: 51px 58px 40px 54px;
        display: inline-block;
        float: right;
        width: 100%;
    }

    &__coin {
        border: 1px solid rgba(196, 222, 255, 0.16);
        border-radius: 16px;
        padding: 28px 24px 18px 20px;
        margin-bottom: 12px;
    }

    &__logo {
        display: inline-flex;
        background: rgba(196, 222, 255, 0.16);
        border-radius: 10px;
        padding: 10px 16px;
        margin: 3px 0px 13px 0px;
        line-height: 20px;
    }

    &__img {
        height: 20px;
        width: 20px;
        margin-right: 8px;
    }

    &__numbers {
        display: inline-block;
        float: right;
    }

    &__amount {
        line-height: 32px;
        text-align: end;
        font-family: 'Inter';
        font-style: normal;
        font-weight: 400;
        font-size: 22px;
        color: rgba(196, 222, 255, 0.97);
        margin-bottom: 4px;
    }

    &__price {
        font-family: 'Inter';
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 20px;
        color: rgba(196, 222, 255, 0.5);
        letter-spacing: 0.2px;
    }

    &__button {
        margin-top: 16px;
        width: 100%;
        font-family: 'Inter';
        font-style: normal;
        font-weight: 400;
        font-size: 18px;
        line-height: 24px;
        color: rgba(196, 222, 255, 0.97);
        display: block;
    }

    &__coins {
        position: relative;
    }

    &__arrows {
        position: absolute;
        right: -32px;
        top: 0px;
        bottom: 0px;
        margin-top: auto;
        margin-bottom: auto;
    }

    &__text {
        font-family: 'Inter';
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 20px;
        color: rgba(196, 222, 255, 0.5);
        letter-spacing: 0.2px;

        span {
            margin-right: 3px;
        }
    }

    &__info {
        img {
            margin-left: 3px;
            cursor: pointer;
        }
    }

    &__slash {
        color: rgba(196, 222, 255, 0.06);
    }

    &__button {
        border-radius: 12px;
    }

    @include media-breakpoint-down (xxl) {
        & {
            width: 90%;
        }
    }

    @include media-breakpoint-down (lg) {
        & {
            width: 100%;
        }

        &__block {
            padding: 51px 58px 40px 54px;
        }
    }

    @include media-breakpoint-down (md) {
        & {
            width: 100%;
        }

        &__block {
            padding: 40px 45px 30px 40px;
        }
    }

    @include media-breakpoint-down (sm) {
        & {
            width: 100%;
        }

        &__arrows {
            right: 44%;
        }

        &__coin {
            margin-bottom: 30px;
        }

        &__block {
            padding: 30px 30px 25px 30px;
        }
    }
}
// /* /TEMPLATE: exchange-widget */
// /*.....................................*/

// /*.....................................*/
// /* TEMPLATE: faq */
.dc-faq {

    &__title {
        text-align: center;
        margin-bottom: 40px;
    }

    &__item {
        cursor: pointer;
        border-width: 1px 0px 0px 0px;
        border-style: solid;
        border-color: rgba(196, 222, 255, 0.12)
    }

    &__caption {
        padding: 16px 24px 18px 24px;
        display: flex;
        justify-content: space-between;
    }

    &__heading {
        font-family: 'Inter';
        font-style: normal;
        font-weight: 400;
        font-size: 17px;
        line-height: 26px;
        color: rgba(221, 234, 250, 0.92);
        letter-spacing: 0.01em;
    }

    &__arrow {
        float: right;
        transition: all 300ms;
        transform: rotate(0deg);
    }

    &__list {
        border-width: 0px 0px 1px 0px;
        border-style: solid;
        border-color: rgba(196, 222, 255, 0.12)
    }

    &__content {
        display: none;
        padding-left: 24px;
        padding-bottom: 20px;
    }

    &__item.dcg-active {
        .dc-faq__arrow {
            transition: all 300ms;
            transform: rotate(180deg);
        }
    }

    @include media-breakpoint-down (sm) {
    }
}
// /* /TEMPLATE: faq */
// /*.....................................*/

// /*.....................................*/
// /* TEMPLATE: filter */
.dc-filter {

    @include media-breakpoint-down (sm) {
    }
}
// /* /TEMPLATE: filter */
// /*.....................................*/

// /*.....................................*/
// /* TEMPLATE: filter-form */
.dc-filter-form {

    @include media-breakpoint-down (sm) {

    }
}
// /* /TEMPLATE: filter-form */
// /*.....................................*/

// /*.....................................*/
// /* TEMPLATE: footer */
.dc-footer {

    &__wrap {
        padding: 64px 128px 40px 80px;
        background-color: #051429;
    }

    &__menu {
        display: flex;
        justify-content: end;
        gap: 99px;
    }

    &__menu div {
        display: inline-block;
    }

    .dc-logo {
        line-height: 12px;
        margin-bottom: 24px;
    }

    .dc-soc-btns {
        margin: 16px 0px 16px 0px;
    }

    @include media-breakpoint-down (xl) {
        &__wrap {
            padding: 64px 80px 40px 80px;
        }

        &__menu {
            justify-content: end;
            gap: 63px;
        }
    }

    @include media-breakpoint-down (lg) {
        &__wrap {
            padding: 64px 32px 40px 32px;
        }

        &__menu {
            justify-content: start;
            gap: 120px;
        }
    }

    @include media-breakpoint-down (md) {
        &__wrap {
            padding: 64px 32px 64px 32px;
        }

        &__menu {
            justify-content: start;
            gap: 130px;
        }
    }

    @include media-breakpoint-down (sm) {

        &__wrap {
            padding: 40px 32px 50px 32px;
        }

        &__menu {
            gap: 40px;
            display: block;
        }
    }
}
    // /* /TEMPLATE: footer */
    // /*.....................................*/

// /*.....................................*/
// /* TEMPLATE: footer-desc */
.dc-footer-desc {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 22px;

    &__tetx {
        color: rgba(196, 222, 255, 0.72);
    }

    &__link {
        margin-top: 16px;
    }

    @include media-breakpoint-down (sm) {
    }
}
// /* /TEMPLATE: footer-desc */
// /*.....................................*/

// /*.....................................*/
// /* TEMPLATE: footer-menu */
.dc-footer-menu {
    width: 126px;

    li {
        line-height: 30px;
    }

    a {
        font-weight: 400;
        font-size: 15px;
        line-height: 22px;
        display: inline;
    }

    ul {
        margin: 16px 0px;
    }

    &__title {
        color: rgba(196, 222, 255, 0.72);
    }

    &__item {
        color: rgba(221, 234, 250, 0.92);
    }

    &__last-item {
        color: rgba(221, 234, 250, 0.92);
    }

    @include media-breakpoint-down (lg) {
        li {
            line-height: 22px;
            margin-bottom: 8px;
        }
    }

    @include media-breakpoint-down (sm) {
        & {
            display: inline-block;
            width: 135px;
            margin-top: 30px;
        }
    }
}
// /* /TEMPLATE: footer-menu */
// /*.....................................*/

// /*.....................................*/
// /* TEMPLATE: graph-widget */
.dc-graph-widget {
    margin-top: 32px;

    iframe {
        border-radius: 32px;
        width: 100% !important;
        height: 497px !important;
    }
    @include media-breakpoint-down (sm) {
    }
}
// /* /TEMPLATE: graph-widget */
// /*.....................................*/

// /*.....................................*/
// /* TEMPLATE: header */
.dc-header {

    &__wrap {
        position: relative;
        padding: 15px 32px;
        background-color: #051429;
    }

    .dc-logo {
        margin: 10px 0 0 0;
    }

    &__logo {
        display: inline-block;
    }

    &__wrap.dcg-active {
        position: fixed;
        top: 0px;
        left: 0px;
        width: 100%;
        height: 100%;
        z-index: 2;
    }

    @include media-breakpoint-down (lg) {
        &__wrap {
            border-width: 0px 0px 1px 0px;
            border-style: solid;
            border-color: rgba(196, 222, 255, 0.12);
        }

        & .dcg-active {
            height: 100%;
            overflow: visible;

            &__wrap {
                border: none;
            }
        }

        &__menu {
        }

        &__buttons {
        }
    }
}
// /* /TEMPLATE: header */
// /*.....................................*/

// /*.....................................*/
// /* TEMPLATE: highlight */
.dc-highlight {
    padding: 0px 16px 0px 16px;

    @include media-breakpoint-down (md) {
        & {
            margin-bottom: 32px;
        }
    }
}
// /* /TEMPLATE: highlight */
// /*.....................................*/
 
// /*.....................................*/
// /* TEMPLATE: highlights */
.dc-highlights {

    .dcg-caption {
        margin-top: 16px;
        color: rgba(196, 222, 255, 0.72);
    }

    @include media-breakpoint-down (sm) {
    }
} 
// /* /TEMPLATE: highlights */
// /*.....................................*/

// /*.....................................*/
// /* TEMPLATE: items-count-menu */
.dc-items-count-menu {

    @include media-breakpoint-down (sm) {

    }
}
// /* /TEMPLATE: items-count-menu */
// /*.....................................*/

// /*.....................................*/
// /* TEMPLATE: logo */
.dc-logo {
    display: block;
    height: 30px;
    width: 148px;

    img {
        height: 30px;
        width: 148px;
    }

    @include media-breakpoint-down (sm) {
    }
}
// /* /TEMPLATE: logo */
// /*.....................................*/

// /*.....................................*/
// /* TEMPLATE: main-btn-menu */
.dc-main-btn-menu {
    display: flex;
    flex-direction: row;
    gap: 15px;
    justify-content: end;

    .dcg-btn {
    }

    @include media-breakpoint-down (xl) {
        .dcg-btn {
            &::after {
                display: none;
            }
        }

        & {
            justify-content: center;
            margin-top: 10px;
        }
    }

    @include media-breakpoint-down (md) {
        a {
            margin-bottom: 24px;
        }
    }

    @include media-breakpoint-down (sm) {
        display: block;

        .dcg-btn {
            display: block;

            &::after {
                display: inline-block;
            }
        }
    }
}
// /* /TEMPLATE: main-btn-menu */
// /*.....................................*/

// /*.....................................*/
// /* TEMPLATE: main-menu */
.dc-main-menu {

    ul {
        display: flex;
        flex-direction: row;
        letter-spacing: 0.01em;
        gap: 32px;
        justify-content: end;
        padding: 14px 65px 0 0;
    }

    li::after {
        content: '';
        width: 0%;
        height: 3px;
        background: #00D7CB;
        border-radius: 2px;
        display: block;
        margin-top: 4px;
        transition: all 250ms;
    }

    li:hover::after {
        width: 100%;
    }

    a {

        &:hover, &.dcg-active {
        }

        &.dcg-icon-right::after {
            margin-left: 7px;
        }
    }

    @include media-breakpoint-down (lg) {

        & {
            margin-bottom: 20px;
        }

        ul {
            flex-direction: column;
            gap: 8px;
        }

        li {
            font-family: 'Helvetica Neue';
            font-style: normal;
            font-weight: 400;
            font-size: 24px;
            line-height: 30px;
            letter-spacing: 0.01em;
            color: rgba(221, 234, 250, 0.92);
            display: inline-block;
        }

        li:hover::after, li.dcg-active::after {
            width: 100%;
        }
        // /* /TEMPLATE: main-menu */
        // /*.....................................*/
    }
}
// /*.....................................*/
// /* TEMPLATE: main-title */
.dc-main-title {
    margin-bottom: 30px;

    &__caption {
        margin-top: 24px;
        margin-bottom: 8px;
        color: rgba(221, 234, 250, 0.92);
    }

    &__desc {
        color: rgba(196, 222, 255, 0.72);
    }

    @include media-breakpoint-down (sm) {
    }
}
// /* /TEMPLATE: main-title */
// /*.....................................*/

// /*.....................................*/
// /* TEMPLATE: main-title-info */
.dc-main-title-info {
    padding: 54px 0px 0px 0px;


    &__caption {
        font-size: 15px;
        line-height: 22px;
        margin-bottom: 16px;
    }

    &__download {
        margin-top: 40px;
    }

    &__warning {
        font-family: 'Inter';
        font-style: normal;
        font-weight: 400;
        font-size: 15px;
        line-height: 22px;
        color: rgba(196, 222, 255, 0.72);
    }

    @include media-breakpoint-down (lg) {
        & {
            padding: 0px;
            text-align: center;
            margin-bottom: 47px;
        }

        &__download {
            display: none;
        }
    }

    @include media-breakpoint-down (lg) {
        & {
            padding: 54px 0px 0px 0px;
        }
    }

    @include media-breakpoint-down (md) {
        & {
            padding: 54px 0px 0px 0px;
        }
    }
}
// /* /TEMPLATE: main-title-info */
// /*.....................................*/

// /*.....................................*/
// /* TEMPLATE: mob-main-menu */
.dc-mob-main-menu {

    &__slide {
        display: none;
        position: absolute;
        width: 100%;
        max-width: 500px;
        background: #051429;
        right: 0;
        top: 100%;
        padding: 32px;
        z-index: 100;
    }

    &__burger {
        width: 24px;
        height: 18px;
        position: relative;
        margin-top: 15px;
        margin-left: 20px;
        float: right;
    }

    &__burger div {
        width: 24px;
        height: 2px;
        background: #C4C4C4;
        border-radius: 1px;
        display: inline-block;
        top: 8px;
        position: absolute;
    }

    &__burger::before,
    &__burger::after {
        content: '';
        position: absolute;
        width: 24px;
        height: 2px;
        background: #C4C4C4;
        border-radius: 1px;
        display: inline-block;
        transition: all 200ms;
    }

    &__burger::before {
        top: 0px;
        transform: rotate(0deg);
    }

    &__burger::after {
        bottom: 0px;
        transform: rotate(0deg);
    }

    &__burger.dcg-opened::after {
        transform: rotate(45deg);
        bottom: 8px;
    }

    &__burger.dcg-opened::before {
        transform: rotate(-45deg);
        top: 8px;
    }

    &__burger.dcg-opened div {
        transform: scale(0);
        transition: all 50ms;
    }

    &__burger.dcg-opened {
        .dc-header {
            position: fixed;
            top: 0px;
            left: 0px;
            width: 100%;
            height: 100%;
        }
    }

    @include media-breakpoint-down (sm) {
    }
}
// /* /TEMPLATE: mob-main-menu */
// /*.....................................*/

// /*.....................................*/
// /* TEMPLATE: multy-table */
.dc-multy-table {

    @include media-breakpoint-down (sm) {

    }
}
// /* /TEMPLATE: multy-table */
// /*.....................................*/

// /*.....................................*/
// /* TEMPLATE: pagination */
.dc-pagination {
    margin-top: 32px;
    float: right;
    color: rgba(221, 234, 250, 0.92);

    &__prev {
        margin-right: 20px;
        color: rgba(196, 222, 255, 0.72);
        img {
            transform: rotate(180deg);
            margin-right: 8px;
        }
    }

    &__list {
        display: inline-block;
    }

    &__list-item-wrapper {
        display: inline-block;
        margin-right: 20px;
        color: rgba(196, 222, 255, 0.72);
    }

    &__next {
        color: rgba(196, 222, 255, 0.72);
        img {
            margin-left: 8px;
        }
    }

    &__item {
        line-height: 44px;

        &_active {
            display: inline-block;
            border: 0px solid;
            background-color: rgba(196, 222, 255, 0.1);
            border-radius: 50%;
            width: 44px;
            height: 44px;
            text-align: center;
        }
    }

    &__btn-next {
        display: inline-block;
        cursor: pointer;
    }

    @include media-breakpoint-down (sm) {
    }
}
// /* /TEMPLATE: pagination */
// /*.....................................*/

// /*.....................................*/
// /* TEMPLATE: pair-info */
.dc-pair-info {
    &__title {
        padding-bottom: 40px;
        margin-bottom: 40px;
        border-width: 0px 0px 1px 0px;
        border-style: solid;
        border-color: rgba(196, 222, 255, 0.06);
        margin-bottom: 24px;
    }

    &__caption {
        color: rgba(196, 222, 255, 0.72);
    }

    &__value {
        color: rgba(221, 234, 250, 0.92);

        &_positive {
            color: #00D7CB;
        }
    }

    @include media-breakpoint-down (sm) {
    }
}
// /* /TEMPLATE: pair-info */
// /*.....................................*/

// /*.....................................*/
// /* TEMPLATE: pairs-table */
.dc-pairs-table {
    overflow-x: auto;
    width: 100%;

    table {
        width: 100%;
        min-width: 1014px;
        margin-top: 24px;
    }

    &__head {
        background: rgba(196, 222, 255, 0.1);

        th {
            padding: 13px 0px 13px 0px;
            text-align: start;
            color: rgba(221, 234, 250, 0.92);
        }

        th:first-child {
            border-radius: 8px 0px 0px 8px;
            padding: 13px 0px 13px 16px;
        }

        th:last-child {
            border-radius: 0px 8px 8px 0px;
            padding: 13px 114px 13px 0px;
        }
    }

    &__item {
        border-style: solid;
        border-color: rgba(196, 222, 255, 0.1);
        border-width: 1px 0px 0px 0px;
    }

    &__item {
        cursor: pointer;

        td:first-child {
            padding-left: 17px;
            padding-top: 5px;
        }

        td:last-child {
            padding: 13px 0px;
        }
    }

    &__device {
        display: flex;

        img {
            margin-right: 6px;
        }

        span {
            color: rgba(196, 222, 255, 0.72);
        }
    }

    &__coin {
        display: inline-block;

        &:first-child {
            margin-right: 45px;
        }
    }

    &__text-box {
        line-height: 56px;
        color: rgba(196, 222, 255, 0.72);
    }

    &__item:hover {
        background: rgba(196, 222, 255, 0.1);

        & {
            border: none;
        }

        & + & {
            border: none;
        }

        td:first-child {
            border-radius: 8px 0px 0px 8px;
        }

        td:last-child {
            border-radius: 0px 8px 8px 0px;
        }
    }

    &__coin-logo {
        display: inline-block;
        margin-right: 43px;
    }


    @include media-breakpoint-down (lg) {
        //position: absolute;
        //overflow: hidden;
    }
}
// /* /TEMPLATE: pairs-table */
// /*.....................................*/

// /*.....................................*/
// /* TEMPLATE: popular-pairs */
.dc-popular-pairs {
    display: flex;
    flex-direction: column;
    align-items: center;

    &__title {
        text-align: center;
        margin-bottom: 40px;
    }

    &__button {
        margin-top: 40px;
        width: 221px;
        text-align: center;
    }

    @include media-breakpoint-down (sm) {
    }
}
// /* /TEMPLATE: popular-pairs */
// /*.....................................*/

// /*.....................................*/
// /* TEMPLATE: report */
.dc-report {
    padding: 0px 6px;

    &__block {
        background: rgba(196, 222, 255, 0.1);
        border-radius: 12px;
        padding: 28px 0px 32px 32px;
    }

    &__img-wrapper {
        display: inline-block;
        //margin-right: 13px;
        img {
            background-repeat: no-repeat;
            overflow: hidden;
        }
    }

    &__content {
        display: inline-block;
        cursor: pointer;
    }

    &__more {
        margin-right: 8px;
    }

    @include media-breakpoint-down (lg) {
        &__block {
            display: flex;
            padding: 28px 40px 32px 25px;
            align-items: center;
        }

        &__img-wrapper {
            width: 58px;

            img {
                width: 58px;
                height: 40px;
            }
        }

        &__content {
            margin-left: 16px;
            width: 65%;
        }
    }
        @include media-breakpoint-down (md) {
            & {
                margin-bottom: 16px;
            }

            &__content {
                margin-left: 16px;
                
            }
        }
    
}
// /* /TEMPLATE: report */
// /*.....................................*/

// /*.....................................*/
// /* TEMPLATE: reports */
.dc-reports {

    &__blocks{
        //padding: 0px 171px;
    }
    
    &__title{
        text-align: center;
        margin-bottom: 40px;
    }

    @include media-breakpoint-down (sm) {

    }
}
// /* /TEMPLATE: reports */
// /*.....................................*/

// /*.....................................*/
// /* TEMPLATE: soc-btns */
.dc-soc-btns {

    li {
        display: inline-block;
        line-height: 12px;
        padding: 10px;
    }

    li + li {
        margin-left: 12px;
    }

    a {
        display: inline-block;
        padding: 0px;
        line-height: 12px;
    }

    img {
        height: 24px;
        width: 24px;
    }



    @include media-breakpoint-down (sm) {
    }
}
// /* /TEMPLATE: soc-btns */
// /*.....................................*/

// /*.....................................*/
// /* TEMPLATE: sort */
.dc-sort {
    float: right;

    @include media-breakpoint-down (sm) {

    }
}
// /* /TEMPLATE: sort */
// /*.....................................*/

// /*.....................................*/
// /* TEMPLATE: table-order-icons */
.dc-table-order-icons {
    margin-left: 8px;

    &__asc {
        width: 9px;
        height: 12px;
    }

    @include media-breakpoint-down (sm) {
    }
}
// /* /TEMPLATE: table-order-icons */
// /*.....................................*/

// /*.....................................*/
// /* TEMPLATE: test */
.dc-test {

    @include media-breakpoint-down (sm) {

    }
}
// /* /TEMPLATE: test */
// /*.....................................*/

// /*.....................................*/
// /* TEMPLATE: title-menu */
.dc-title-menu {

    @include media-breakpoint-down (sm) {

    }
}
// /* /TEMPLATE: title-menu */
// /*.....................................*/

/*.....................................*/
/* TEMPLATE: classes */
.dc-classes {
    // background: #e4e3e3;
    width: 1024px;
    margin: auto;
    section {
        text-align: center;
    }
    &__checkbox-wrapper {
        label {
            display: block;
        }
    }
    &__container {
        padding: 15px;
        text-align: center;
    }
    &__container-headline {
        text-align: center;
    }
    &__container-list {
        font-size: 20px;
    }
/*..................................... Buttons*/
.dcg-button {
    width: 150px;
    margin: 10px;
}
/*..................................... Inputs*/
.dcg-input {
    width: 200px;
    margin: 10px;
}
/*.....................................*/
    @include media-breakpoint-down (sm) {}
}
/* /TEMPLATE: classes */
/*.....................................*/

/*.....................................*/
/* TEMPLATE: _logo */
.dc-logo {}
/* /TEMPLATE: _logo */
/*.....................................*/

/*.....................................*/
/* TEMPLATE: _menu */
.dc-menu {

    display: flex;

    &__more {
        position: absolute;
        right: 5px;
        top: 0;
        display: flex;
        flex-direction: column;
        justify-content: center;
        height: 100%;

        &::after {
            display: block;

        }
    }

    a {
        display: block;
        text-decoration: none;
        white-space: nowrap;

        transition-property: background, color;
    }

    li {
        position: relative;

        &:hover {
            .dc-menu__more {
                &::after {
                }
            }

            >a {
            }

            >ul {
                display: block;
            }
        }
    }

    >li {

        >a {
        }

        ul {
            position: absolute;
            display: none;
            min-width: 100px;

            >li:last-child>a {
            }
        }

        >ul {
            top: 100%;
            left: 0;

            ul {
                left: 100%;
                top: 0;
            }
        }

        &:hover {
            >.dc-menu__more {
                transform: rotate(180deg);
            }

            >a {
            }
        }
    }
}
/* /TEMPLATE: _menu */
/*.....................................*/
