@model CHomeVM
@inject CBlocksHelperVM BlocksHelper

@{
    ViewData["Title"] = Model.SeoInfo.title == "" ? "CriptoApi" : Model.SeoInfo.title;
    ViewData["Description"] = Model.SeoInfo.text == "" ? "" : Model.SeoInfo.text;
    ViewData["PageClass"] = "dc-main-page";
}
<div class="dc-main-page-content">
    <div class="dcg-section dcg-section_padding-heading dcg-section_light-bottom-left dcg-bg-basic ">
        <div class="container">
            <div class="row">
                <div class="col">
                    @await Html.PartialAsync("_MainTitleInfo", Model.PageHead)
                </div>
                <div class="col-12 col-md d-flex justify-content-center">
                    @await Html.PartialAsync("_ExchangeWidget")
                </div>
            </div>
        </div>
    </div>
    <div class="dcg-section dcg-section_hidden dcg-section_border-bottom dcg-section_border dcg-section_coins-line">
        <div class="container">
            @await Html.PartialAsync("_CoinsLine", BlocksHelper.GetCoinList(9))
        </div>
    </div>
    <div class="dcg-section dcg-section_border-bottom dcg-section_padding-small">
        <div class="container">
            @await Html.PartialAsync("_Highlights", Model.TextBlocks)
        </div>
    </div>
    <div class="dcg-section dcg-section_padding-big"> 
        <div class="container">
            @await Html.PartialAsync("_Benefits", Model.Benefits)
        </div>
    </div>
    <div class="dcg-section dcg-section_hidden dcg-section_padding-small">
        <div class="container">
            @await Html.PartialAsync("_PopularPairs", Model.LinkedPairs)
        </div>
    </div>
    <div class="dcg-section dcg-section_hidden dcg-section_padding-small dcg-section_light-bottom-left">
        <div class="container">
            @await Html.PartialAsync("_DownloadWallet")
        </div>
    </div>
    <div class="dcg-section dcg-section_padding-big">
        <div class="container">
            @await Html.PartialAsync("_Reports")
        </div>
    </div>
    <div class="dcg-section dcg-section_border-bottom dcg-section_padding-big">
        <div class="container">
            @await Html.PartialAsync("_Faq", Model.Faq)
        </div>
    </div>
</div>
